<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('财务分析-百分比列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>股票代码：</label>
                                <input type="text" name="securityCode"/>
                            </li>
                            <li>
                                <label>报告类型：</label>
                                <select name="reportType" th:with="type=${@dict.getType('report_type')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li>
                                <label>报告日期：</label>
                                <input type="text" class="time-input" placeholder="请选择报告日期" name="reportDate"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="investment:invFinanceBfb:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="investment:invFinanceBfb:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="investment:invFinanceBfb:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="investment:invFinanceBfb:export">
                    <i class="fa fa-download"></i> 导出
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('investment:invFinanceBfb:edit')}]];
        var removeFlag = [[${@permission.hasPermi('investment:invFinanceBfb:remove')}]];
        var reportTypeDatas = [[${@dict.getType('report_type')}]];
        var prefix = ctx + "investment/invFinanceBfb";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "财务分析-百分比",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'id',
                    title: 'ID',
                    visible: false
                },
                {
                    field: 'securityCode',
                    title: '股票代码'
                },
                {
                    field: 'reportType',
                    title: '报告类型',
                    formatter: function(value, row, index) {
                       return $.table.selectDictLabel(reportTypeDatas, value);
                    }
                },
                {
                    field: 'reportDate',
                    title: '报告日期'
                },
                {
                    field: 'totalAssets',
                    title: '总资产'
                },
                {
                    field: 'operateIncome',
                    title: '一、营业收入(元)'
                },
                {
                    field: 'totalCurrentAssets',
                    title: '流动资产'
                },
                {
                    field: 'interestNi',
                    title: '利息净收入(元)'
                },
                {
                    field: 'feeCommissionNi',
                    title: '手续费及佣金净收入(元)'
                },
                {
                    field: 'totalNoncurrentAssets',
                    title: '非流动资产'
                },
                {
                    field: 'investIncome',
                    title: '投资收益(元)'
                },
                {
                    field: 'totalLiabilities',
                    title: '总负债金额'
                },
                {
                    field: 'fairvalueChangeIncome',
                    title: '公允价值变动收益(元)'
                },
                {
                    field: 'totalCurrentLiab',
                    title: '流动负债'
                },
                {
                    field: 'exchangeIncome',
                    title: '汇兑收益(元)'
                },
                {
                    field: 'otherBusinessIncome',
                    title: '其他业务收入(元)'
                },
                {
                    field: 'totalNoncurrentLiab',
                    title: '非流动负债'
                },
                {
                    field: 'assetDisposalIncome',
                    title: '资产处置收益(元)'
                },
                {
                    field: 'otherIncome',
                    title: '其他收益(元)'
                },
                {
                    field: 'operateExpense',
                    title: '二、营业支出(元)'
                },
                {
                    field: 'operateTaxAdd',
                    title: '税金及附加(元)'
                },
                {
                    field: 'businessManageExpense',
                    title: '业务及管理费(元)'
                },
                {
                    field: 'assetImpairmentLoss',
                    title: '资产减值损失(元)'
                },
                {
                    field: 'creditImpairmentLoss',
                    title: '信用减值损失(元)'
                },
                {
                    field: 'otherBusinessCost',
                    title: '其他业务成本(元)'
                },
                {
                    field: 'operateProfit',
                    title: '三、营业利润(元)'
                },
                {
                    field: 'nonbusinessIncome',
                    title: '加:营业外收入(元)'
                },
                {
                    field: 'nonbusinessExpense',
                    title: '减:营业外支出(元)'
                },
                {
                    field: 'totalProfit',
                    title: '四、利润总额(元)'
                },
                {
                    field: 'incomeTax',
                    title: '减:所得税费用(元)'
                },
                {
                    field: 'netprofit',
                    title: '五、净利润(元)'
                },
                {
                    field: 'totalOperateIncome',
                    title: '一、营业总收入(元)'
                },
                {
                    field: 'totalOperateCost',
                    title: '二、营业总成本(元)'
                },
                {
                    field: 'operateCost',
                    title: '营业成本(元)'
                },
                {
                    field: 'totalExpense',
                    title: '期间费用(元)'
                },
                {
                    field: 'saleExpense',
                    title: '销售费用(元)'
                },
                {
                    field: 'manageExpense',
                    title: '管理费用(元)'
                },
                {
                    field: 'researchExpense',
                    title: '研发费用(元)'
                },
                {
                    field: 'financeExpense',
                    title: '财务费用(元)'
                },
                {
                    field: 'creditImpairmentIncome',
                    title: '信用减值损失(元)'
                },
                {
                    field: 'assetImpairmentIncome',
                    title: '资产减值损失(元)'
                },
                {
                    field: 'earnedPremium',
                    title: '已赚保费(元)'
                },
                {
                    field: 'fairvalueChange',
                    title: '公允价值变动收益(元)'
                },
                {
                    field: 'surrenderValue',
                    title: '退保金(元)'
                },
                {
                    field: 'compensateExpense',
                    title: '赔付支出(元)'
                },
                {
                    field: 'amortizeCompensateExpense',
                    title: '减:摊回赔付支出(元)'
                },
                {
                    field: 'extractInsuranceReserve',
                    title: '提取保险责任准备金(元)'
                },
                {
                    field: 'amortizeInsuranceReserve',
                    title: '减:摊回保险责任准备金(元)'
                },
                {
                    field: 'policyBonusExpense',
                    title: '保单红利支出(元)'
                },
                {
                    field: 'feeCommissionExpense',
                    title: '手续费及佣金支出(元)'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>