<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('财务分析-资产负债列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>股票代码：</label>
                                <input type="text" name="securityCode"/>
                            </li>
                            <li>
                                <label>报告类型：</label>
                                <select name="reportType" th:with="type=${@dict.getType('report_type')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li>
                                <label>报告日期：</label>
                                <input type="text" class="time-input" placeholder="请选择报告日期" name="reportDate"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="investment:invFinanceZcfz:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="investment:invFinanceZcfz:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="investment:invFinanceZcfz:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="investment:invFinanceZcfz:export">
                    <i class="fa fa-download"></i> 导出
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('investment:invFinanceZcfz:edit')}]];
        var removeFlag = [[${@permission.hasPermi('investment:invFinanceZcfz:remove')}]];
        var reportTypeDatas = [[${@dict.getType('report_type')}]];
        var prefix = ctx + "investment/invFinanceZcfz";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "财务分析-资产负债",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'id',
                    title: 'id',
                    visible: false
                },
                {
                    field: 'securityCode',
                    title: '股票代码'
                },
                {
                    field: 'reportType',
                    title: '报告类型',
                    formatter: function(value, row, index) {
                       return $.table.selectDictLabel(reportTypeDatas, value);
                    }
                },
                {
                    field: 'reportDate',
                    title: '报告日期'
                },
                {
                    field: 'opinionType',
                    title: '审计意见(境内)'
                },
                {
                    field: 'osopinionType',
                    title: '审计意见(境外)'
                },
                {
                    field: 'monetaryfunds',
                    title: '货币资金'
                },
                {
                    field: 'monetaryfundsYoy',
                    title: '货币资金(环比%)'
                },
                {
                    field: 'customerDeposit',
                    title: '客户资金存款'
                },
                {
                    field: 'customerDepositYoy',
                    title: '客户资金存款(环比%)'
                },
                {
                    field: 'settleExcessReserve',
                    title: '结算备付金'
                },
                {
                    field: 'settleExcessReserveYoy',
                    title: '结算备付金(环比%)'
                },
                {
                    field: 'customerExcessReserve',
                    title: '客户备付金'
                },
                {
                    field: 'customerExcessReserveYoy',
                    title: '客户备付金(环比%)'
                },
                {
                    field: 'finFund',
                    title: '融出资金'
                },
                {
                    field: 'finFundYoy',
                    title: '融出资金(环比%)'
                },
                {
                    field: 'fvtplFinasset',
                    title: '以公允价值计量且其变动计入当期损益的金融资产'
                },
                {
                    field: 'fvtplFinassetYoy',
                    title: '以公允价值计量且其变动计入当期损益的金融资产(环比%)'
                },
                {
                    field: 'deriveFinasset',
                    title: '衍生金融资产'
                },
                {
                    field: 'deriveFinassetYoy',
                    title: '衍生金融资产(环比%)'
                },
                {
                    field: 'buyResaleFinasset',
                    title: '买入返售金融资产'
                },
                {
                    field: 'buyResaleFinassetYoy',
                    title: '买入返售金融资产(环比%)'
                },
                {
                    field: 'receivables',
                    title: '应收款项'
                },
                {
                    field: 'receivablesYoy',
                    title: '应收款项(环比%)'
                },
                {
                    field: 'interestRece',
                    title: '应收利息'
                },
                {
                    field: 'interestReceYoy',
                    title: '应收利息(环比%)'
                },
                {
                    field: 'refundDepositPay',
                    title: '存出保证金'
                },
                {
                    field: 'refundDepositPayYoy',
                    title: '存出保证金(环比%)'
                },
                {
                    field: 'tradeFinassetNotfvtpl',
                    title: '交易性金融资产'
                },
                {
                    field: 'tradeFinassetNotfvtplYoy',
                    title: '交易性金融资产(环比%)'
                },
                {
                    field: 'creditorInvest',
                    title: '债权投资'
                },
                {
                    field: 'creditorInvestYoy',
                    title: '债权投资(环比%)'
                },
                {
                    field: 'otherCreditorInvest',
                    title: '其他债权投资'
                },
                {
                    field: 'otherCreditorInvestYoy',
                    title: '其他债权投资(环比%)'
                },
                {
                    field: 'otherEquityInvest',
                    title: '其他权益工具投资'
                },
                {
                    field: 'otherEquityInvestYoy',
                    title: '其他权益工具投资(环比%)'
                },
                {
                    field: 'availableSaleFinasset',
                    title: '可供出售金融资产'
                },
                {
                    field: 'availableSaleFinassetYoy',
                    title: '可供出售金融资产(环比%)'
                },
                {
                    field: 'longEquityInvest',
                    title: '长期股权投资'
                },
                {
                    field: 'longEquityInvestYoy',
                    title: '长期股权投资(环比%)'
                },
                {
                    field: 'investRealestate',
                    title: '投资性房地产'
                },
                {
                    field: 'investRealestateYoy',
                    title: '投资性房地产(环比%)'
                },
                {
                    field: 'fixedAsset',
                    title: '固定资产'
                },
                {
                    field: 'fixedAssetYoy',
                    title: '固定资产(环比%)'
                },
                {
                    field: 'cip',
                    title: '在建工程'
                },
                {
                    field: 'cipYoy',
                    title: '在建工程(环比%)'
                },
                {
                    field: 'userightAsset',
                    title: '使用权资产'
                },
                {
                    field: 'userightAssetYoy',
                    title: '使用权资产(环比%)'
                },
                {
                    field: 'intangibleAsset',
                    title: '无形资产'
                },
                {
                    field: 'intangibleAssetYoy',
                    title: '无形资产(环比%)'
                },
                {
                    field: 'goodwill',
                    title: '商誉'
                },
                {
                    field: 'goodwillYoy',
                    title: '商誉(环比%)'
                },
                {
                    field: 'deferTaxAsset',
                    title: '递延所得税资产'
                },
                {
                    field: 'deferTaxAssetYoy',
                    title: '递延所得税资产(环比%)'
                },
                {
                    field: 'otherAsset',
                    title: '其他资产'
                },
                {
                    field: 'otherAssetYoy',
                    title: '其他资产(环比%)'
                },
                {
                    field: 'totalAssets',
                    title: '资产总计'
                },
                {
                    field: 'totalAssetsYoy',
                    title: '资产总计(环比%)'
                },
                {
                    field: 'shortLoan',
                    title: '短期借款'
                },
                {
                    field: 'shortLoanYoy',
                    title: '短期借款(环比%)'
                },
                {
                    field: 'shortFinPayable',
                    title: '应付短期融资款'
                },
                {
                    field: 'shortFinPayableYoy',
                    title: '应付短期融资款(环比%)'
                },
                {
                    field: 'borrowFund',
                    title: '拆入资金'
                },
                {
                    field: 'borrowFundYoy',
                    title: '拆入资金(环比%)'
                },
                {
                    field: 'tradeFinliabNotfvtpl',
                    title: '交易性金融负债'
                },
                {
                    field: 'tradeFinliabNotfvtplYoy',
                    title: '交易性金融负债(环比%)'
                },
                {
                    field: 'fvtplFinliab',
                    title: '以公允价值计量且其变动计入当期损益的金融负债'
                },
                {
                    field: 'fvtplFinliabYoy',
                    title: '以公允价值计量且其变动计入当期损益的金融负债(环比%)'
                },
                {
                    field: 'deriveFinliab',
                    title: '衍生金融负债'
                },
                {
                    field: 'deriveFinliabYoy',
                    title: '衍生金融负债(环比%)'
                },
                {
                    field: 'sellRepoFinasset',
                    title: '卖出回购金融资产款'
                },
                {
                    field: 'sellRepoFinassetYoy',
                    title: '卖出回购金融资产款(环比%)'
                },
                {
                    field: 'agentTradeSecurity',
                    title: '代理买卖证券款'
                },
                {
                    field: 'agentTradeSecurityYoy',
                    title: '代理买卖证券款(环比%)'
                },
                {
                    field: 'agentUnderwriteSecurity',
                    title: '代理承销证券款'
                },
                {
                    field: 'agentUnderwriteSecurityYoy',
                    title: '代理承销证券款(环比%)'
                },
                {
                    field: 'accountsPayable',
                    title: '应付账款'
                },
                {
                    field: 'accountsPayableYoy',
                    title: '应付账款(环比%)'
                },
                {
                    field: 'staffSalaryPayable',
                    title: '应付职工薪酬'
                },
                {
                    field: 'staffSalaryPayableYoy',
                    title: '应付职工薪酬(环比%)'
                },
                {
                    field: 'taxPayable',
                    title: '应交税费'
                },
                {
                    field: 'taxPayableYoy',
                    title: '应交税费(环比%)'
                },
                {
                    field: 'interestPayable',
                    title: '应付利息'
                },
                {
                    field: 'interestPayableYoy',
                    title: '应付利息(环比%)'
                },
                {
                    field: 'longLoan',
                    title: '长期借款'
                },
                {
                    field: 'longLoanYoy',
                    title: '长期借款(环比%)'
                },
                {
                    field: 'bondPayable',
                    title: '应付债券'
                },
                {
                    field: 'bondPayableYoy',
                    title: '应付债券(环比%)'
                },
                {
                    field: 'leaseLiab',
                    title: '租赁负债'
                },
                {
                    field: 'leaseLiabYoy',
                    title: '租赁负债(环比%)'
                },
                {
                    field: 'deferTaxLiab',
                    title: '递延所得税负债'
                },
                {
                    field: 'deferTaxLiabYoy',
                    title: '递延所得税负债(环比%)'
                },
                {
                    field: 'otherLiab',
                    title: '其他负债'
                },
                {
                    field: 'otherLiabYoy',
                    title: '其他负债(环比%)'
                },
                {
                    field: 'liabOther',
                    title: '负债其他项目'
                },
                {
                    field: 'liabOtherYoy',
                    title: '负债其他项目(环比%)'
                },
                {
                    field: 'totalLiabilities',
                    title: '负债合计'
                },
                {
                    field: 'totalLiabilitiesYoy',
                    title: '负债合计(环比%)'
                },
                {
                    field: 'shareCapital',
                    title: '资本或股本'
                },
                {
                    field: 'shareCapitalYoy',
                    title: '资本或股本(环比%)'
                },
                {
                    field: 'capitalReserve',
                    title: '资本公积'
                },
                {
                    field: 'capitalReserveYoy',
                    title: '资本公积(环比%)'
                },
                {
                    field: 'otherCompreIncome',
                    title: '其他综合收益'
                },
                {
                    field: 'otherCompreIncomeYoy',
                    title: '其他综合收益(环比%)'
                },
                {
                    field: 'surplusReserve',
                    title: '盈余公积'
                },
                {
                    field: 'surplusReserveYoy',
                    title: '盈余公积(环比%)'
                },
                {
                    field: 'generalRiskReserve',
                    title: '一般风险准备'
                },
                {
                    field: 'generalRiskReserveYoy',
                    title: '一般风险准备(环比%)'
                },
                {
                    field: 'unassignRpofit',
                    title: '未分配利润'
                },
                {
                    field: 'unassignRpofitYoy',
                    title: '未分配利润(环比%)'
                },
                {
                    field: 'totalParentEquity',
                    title: '归属于母公司股东权益总计'
                },
                {
                    field: 'totalParentEquityYoy',
                    title: '归属于母公司股东权益总计(环比%)'
                },
                {
                    field: 'minorityEquity',
                    title: '少数股东权益'
                },
                {
                    field: 'minorityEquityYoy',
                    title: '少数股东权益(环比%)'
                },
                {
                    field: 'totalEquity',
                    title: '股东权益合计'
                },
                {
                    field: 'totalEquityYoy',
                    title: '股东权益合计(环比%)'
                },
                {
                    field: 'totalLiabEquity',
                    title: '负债和股东权益总计'
                },
                {
                    field: 'totalLiabEquityYoy',
                    title: '负债和股东权益总计(环比%)'
                },
                {
                    field: 'subbondPayable',
                    title: '应付次级债券'
                },
                {
                    field: 'subbondPayableYoy',
                    title: '应付次级债券(环比%)'
                },
                {
                    field: 'noteAccountsRece',
                    title: '应收票据及应收账款'
                },
                {
                    field: 'noteAccountsReceYoy',
                    title: '应收票据及应收账款(环比%)'
                },
                {
                    field: 'noteRece',
                    title: '应收票据'
                },
                {
                    field: 'noteReceYoy',
                    title: '应收票据(环比%)'
                },
                {
                    field: 'accountsRece',
                    title: '应收账款'
                },
                {
                    field: 'accountsReceYoy',
                    title: '应收账款(环比%)'
                },
                {
                    field: 'financeRece',
                    title: '应收款项融资'
                },
                {
                    field: 'financeReceYoy',
                    title: '应收款项融资(环比%)'
                },
                {
                    field: 'prepayment',
                    title: '预付款项'
                },
                {
                    field: 'prepaymentYoy',
                    title: '预付款项(环比%)'
                },
                {
                    field: 'totalOtherRece',
                    title: '其他应收款合计'
                },
                {
                    field: 'totalOtherReceYoy',
                    title: '其他应收款合计(环比%)'
                },
                {
                    field: 'dividendRece',
                    title: '应收股利'
                },
                {
                    field: 'dividendReceYoy',
                    title: '应收股利(环比%)'
                },
                {
                    field: 'inventory',
                    title: '存货'
                },
                {
                    field: 'inventoryYoy',
                    title: '存货(环比%)'
                },
                {
                    field: 'contractAsset',
                    title: '合同资产'
                },
                {
                    field: 'contractAssetYoy',
                    title: '合同资产(环比%)'
                },
                {
                    field: 'noncurrentAsset1year',
                    title: '一年内到期的非流动资产'
                },
                {
                    field: 'noncurrentAsset1yearYoy',
                    title: '一年内到期的非流动资产(环比%)'
                },
                {
                    field: 'otherCurrentAsset',
                    title: '其他流动资产'
                },
                {
                    field: 'otherCurrentAssetYoy',
                    title: '其他流动资产(环比%)'
                },
                {
                    field: 'totalCurrentAssets',
                    title: '流动资产合计'
                },
                {
                    field: 'totalCurrentAssetsYoy',
                    title: '流动资产合计(环比%)'
                },
                {
                    field: 'longRece',
                    title: '长期应收款'
                },
                {
                    field: 'longReceYoy',
                    title: '长期应收款(环比%)'
                },
                {
                    field: 'developExpense',
                    title: '开发支出'
                },
                {
                    field: 'developExpenseYoy',
                    title: '开发支出(环比%)'
                },
                {
                    field: 'longPrepaidExpense',
                    title: '长期待摊费用'
                },
                {
                    field: 'longPrepaidExpenseYoy',
                    title: '长期待摊费用(环比%)'
                },
                {
                    field: 'otherNoncurrentAsset',
                    title: '其他非流动资产'
                },
                {
                    field: 'otherNoncurrentAssetYoy',
                    title: '其他非流动资产(环比%)'
                },
                {
                    field: 'totalNoncurrentAssets',
                    title: '非流动资产合计'
                },
                {
                    field: 'totalNoncurrentAssetsYoy',
                    title: '非流动资产合计(环比%)'
                },
                {
                    field: 'noteAccountsPayable',
                    title: '应付票据及应付账款'
                },
                {
                    field: 'noteAccountsPayableYoy',
                    title: '应付票据及应付账款(环比%)'
                },
                {
                    field: 'notePayable',
                    title: '应付票据'
                },
                {
                    field: 'notePayableYoy',
                    title: '应付票据(环比%)'
                },
                {
                    field: 'contractLiab',
                    title: '合同负债'
                },
                {
                    field: 'contractLiabYoy',
                    title: '合同负债(环比%)'
                },
                {
                    field: 'totalOtherPayable',
                    title: '其他应付款合计'
                },
                {
                    field: 'totalOtherPayableYoy',
                    title: '其他应付款合计(环比%)'
                },
                {
                    field: 'dividendPayable',
                    title: '应付股利'
                },
                {
                    field: 'dividendPayableYoy',
                    title: '应付股利(环比%)'
                },
                {
                    field: 'noncurrentLiab1year',
                    title: '一年内到期的非流动负债'
                },
                {
                    field: 'noncurrentLiab1yearYoy',
                    title: '一年内到期的非流动负债(环比%)'
                },
                {
                    field: 'otherCurrentLiab',
                    title: '其他流动负债'
                },
                {
                    field: 'otherCurrentLiabYoy',
                    title: '其他流动负债(环比%)'
                },
                {
                    field: 'totalCurrentLiab',
                    title: '流动负债合计'
                },
                {
                    field: 'totalCurrentLiabYoy',
                    title: '流动负债合计(环比%)'
                },
                {
                    field: 'longPayable',
                    title: '长期应付款'
                },
                {
                    field: 'longPayableYoy',
                    title: '长期应付款(环比%)'
                },
                {
                    field: 'longStaffsalaryPayable',
                    title: '长期应付职工薪酬'
                },
                {
                    field: 'longStaffsalaryPayableYoy',
                    title: '长期应付职工薪酬(环比%)'
                },
                {
                    field: 'predictLiab',
                    title: '预计负债'
                },
                {
                    field: 'predictLiabYoy',
                    title: '预计负债(环比%)'
                },
                {
                    field: 'deferIncome',
                    title: '递延收益'
                },
                {
                    field: 'deferIncomeYoy',
                    title: '递延收益(环比%)'
                },
                {
                    field: 'totalNoncurrentLiab',
                    title: '非流动负债合计'
                },
                {
                    field: 'totalNoncurrentLiabYoy',
                    title: '非流动负债合计(环比%)'
                },
                {
                    field: 'specialReserve',
                    title: '专项储备'
                },
                {
                    field: 'specialReserveYoy',
                    title: '专项储备(环比%)'
                },
                {
                    field: 'cashDepositPbc',
                    title: '现金及存放中央银行款项'
                },
                {
                    field: 'cashDepositPbcYoy',
                    title: '现金及存放中央银行款项(环比%)'
                },
                {
                    field: 'depositInterbank',
                    title: '存放同业款项'
                },
                {
                    field: 'depositInterbankYoy',
                    title: '存放同业款项(环比%)'
                },
                {
                    field: 'preciousMetal',
                    title: '贵金属'
                },
                {
                    field: 'preciousMetalYoy',
                    title: '贵金属(环比%)'
                },
                {
                    field: 'lendFund',
                    title: '拆出资金'
                },
                {
                    field: 'lendFundYoy',
                    title: '拆出资金(环比%)'
                },
                {
                    field: 'loanAdvance',
                    title: '发放贷款及垫款'
                },
                {
                    field: 'loanAdvanceYoy',
                    title: '发放贷款及垫款(环比%)'
                },
                {
                    field: 'amortizeCostFinasset',
                    title: '以摊余成本计量的金融资产'
                },
                {
                    field: 'amortizeCostFinassetyoy',
                    title: '以摊余成本计量的金融资产(环比%)'
                },
                {
                    field: 'fvtociFinasset',
                    title: '以公允价值计量且其变动计入其他综合收益的金融资产'
                },
                {
                    field: 'fvtociFinassetYoy',
                    title: '以公允价值计量且其变动计入其他综合收益的金融资产(环比%)'
                },
                {
                    field: 'assetOther',
                    title: '资产其他项目'
                },
                {
                    field: 'assetOtherYoy',
                    title: '资产其他项目(环比%)'
                },
                {
                    field: 'loanPbc',
                    title: '向中央银行借款'
                },
                {
                    field: 'loanPbcYoy',
                    title: '向中央银行借款(环比%)'
                },
                {
                    field: 'iofiDeposit',
                    title: '同业及其他金融机构存放款项'
                },
                {
                    field: 'iofiDepositYoy',
                    title: '同业及其他金融机构存放款项(环比%)'
                },
                {
                    field: 'acceptDeposit',
                    title: '吸收存款'
                },
                {
                    field: 'acceptDepositYoy',
                    title: '吸收存款(环比%)'
                },
                {
                    field: 'otherEquityOther',
                    title: '其他权益工具'
                },
                {
                    field: 'otherEquityOtherYoy',
                    title: '其他权益工具(环比%)'
                },
                {
                    field: 'preferredShares',
                    title: '优先股'
                },
                {
                    field: 'preferredSharesYoy',
                    title: '优先股(环比%)'
                },
                {
                    field: 'perpetualBond',
                    title: '永续债'
                },
                {
                    field: 'perpetualBondYoy',
                    title: '永续债(环比%)'
                },
                {
                    field: 'premiumRece',
                    title: '应收保费'
                },
                {
                    field: 'premiumReceYoy',
                    title: '应收保费(环比%)'
                },
                {
                    field: 'reinsureRece',
                    title: '应收分保账款'
                },
                {
                    field: 'reinsureReceYoy',
                    title: '应收分保账款(环比%)'
                },
                {
                    field: 'rudReserveRece',
                    title: '应收分保未到期责任准备金'
                },
                {
                    field: 'rudReserveReceYoy',
                    title: '应收分保未到期责任准备金(环比%)'
                },
                {
                    field: 'rucReserveRece',
                    title: '应收分保未决赔偿准备金'
                },
                {
                    field: 'rucReserveReceYoy',
                    title: '应收分保未决赔偿准备金(环比%)'
                },
                {
                    field: 'otherRece',
                    title: '其他应收款'
                },
                {
                    field: 'otherReceYoy',
                    title: '其他应收款(环比%)'
                },
                {
                    field: 'timeDeposit',
                    title: '定期存款'
                },
                {
                    field: 'timeDepositYoy',
                    title: '定期存款(环比%)'
                },
                {
                    field: 'holdMaturityInvest',
                    title: '持有至到期投资'
                },
                {
                    field: 'holdMaturityInvestYoy',
                    title: '持有至到期投资(环比%)'
                },
                {
                    field: 'refundCapitalDeposit',
                    title: '存出资本保证金'
                },
                {
                    field: 'refundCapitalDepositYoy',
                    title: '存出资本保证金(环比%)'
                },
                {
                    field: 'advanceRece',
                    title: '预收账款'
                },
                {
                    field: 'advanceReceYoy',
                    title: '预收账款(环比%)'
                },
                {
                    field: 'advancePremium',
                    title: '预收保费'
                },
                {
                    field: 'advancePremiumYoy',
                    title: '预收保费(环比%)'
                },
                {
                    field: 'feeCommissionPayable',
                    title: '应付手续费及佣金'
                },
                {
                    field: 'feeCommissionPayableYoy',
                    title: '应付手续费及佣金(环比%)'
                },
                {
                    field: 'reinsurePayable',
                    title: '应付分保账款'
                },
                {
                    field: 'reinsurePayableYoy',
                    title: '应付分保账款(环比%)'
                },
                {
                    field: 'compensatePayable',
                    title: '应付赔付款'
                },
                {
                    field: 'compensatePayableYoy',
                    title: '应付赔付款(环比%)'
                },
                {
                    field: 'netPendmortgageAsset',
                    title: '待处理抵债资产净额'
                },
                {
                    field: 'netPendmortgageAssetYoy',
                    title: '待处理抵债资产净额(环比%)'
                },
                {
                    field: 'hedgeReserve',
                    title: '套期储备'
                },
                {
                    field: 'hedgeReserveYoy',
                    title: '套期储备(环比%)'
                },
                {
                    field: 'preferredSharesPaybale',
                    title: '优先股'
                },
                {
                    field: 'preferredSharesPaybaleYoy',
                    title: '优先股(环比%)'
                },
                {
                    field: 'tradeFinasset',
                    title: '交易性金融资产'
                },
                {
                    field: 'tradeFinassetYoy',
                    title: '交易性金融资产(环比%)'
                },
                {
                    field: 'holdsaleAsset',
                    title: '持有待售资产'
                },
                {
                    field: 'holdsaleAssetYoy',
                    title: '持有待售资产(环比%)'
                },
                {
                    field: 'appointFvtplFinliab',
                    title: '指定以公允价值计量且其变动计入当期损益的金融负债'
                },
                {
                    field: 'appointFvtplFinliabYoy',
                    title: '指定以公允价值计量且其变动计入当期损益的金融负债(环比%)'
                },
                {
                    field: 'liabBalance',
                    title: '负债平衡项目'
                },
                {
                    field: 'liabBalanceYoy',
                    title: '负债平衡项目(环比%)'
                },
                {
                    field: 'cdNotePayable',
                    title: '存款证及应付票据'
                },
                {
                    field: 'cdNotePayableYoy',
                    title: '存款证及应付票据(环比%)'
                },
                {
                    field: 'assetBalance',
                    title: '资产平衡项目'
                },
                {
                    field: 'assetBalanceYoy',
                    title: '资产平衡项目(环比%)'
                },
                {
                    field: 'pendMortgageAsset',
                    title: '待处理抵债资产'
                },
                {
                    field: 'pendMortgageAssetYoy',
                    title: '待处理抵债资产(环比%)'
                },
                {
                    field: 'holdsaleLiab',
                    title: '持有待售负债'
                },
                {
                    field: 'holdsaleLiabYoy',
                    title: '持有待售负债(环比%)'
                },
                {
                    field: 'liabEquityBalance',
                    title: '负债及股东权益平衡项目'
                },
                {
                    field: 'liabEquityBalanceYoy',
                    title: '负债及股东权益平衡项目(环比%)'
                },
                {
                    field: 'equityBalance',
                    title: '归属于母公司股东权益平衡项目'
                },
                {
                    field: 'equityBalanceYoy',
                    title: '归属于母公司股东权益平衡项目(环比%)'
                },
                {
                    field: 'parentEquityBalance',
                    title: '归属于母公司股东权益平衡项目'
                },
                {
                    field: 'parentEquityBalanceYoy',
                    title: '归属于母公司股东权益平衡项目(环比%)'
                },
                {
                    field: 'otherEquityTool',
                    title: '其他权益工具'
                },
                {
                    field: 'otherEquityToolYoy',
                    title: '其他权益工具(环比%)'
                },
                {
                    field: 'equityOther',
                    title: '股东权益其他项目'
                },
                {
                    field: 'equityOtherYoy',
                    title: '股东权益其他项目(环比%)'
                },
                {
                    field: 'liabEquityOther',
                    title: '负债和股东权益其他项目'
                },
                {
                    field: 'liabEquityOtherYoy',
                    title: '负债和股东权益其他项目(环比%)'
                },
                {
                    field: 'investRece',
                    title: '应收款项类投资'
                },
                {
                    field: 'investReceYoy',
                    title: '应收款项类投资(环比%)'
                },
                {
                    field: 'treasuryShares',
                    title: '库存股'
                },
                {
                    field: 'treasurySharesYoy',
                    title: '库存股(环比%)'
                },
                {
                    field: 'outwardRemit',
                    title: '汇出汇款'
                },
                {
                    field: 'outwardRemitYoy',
                    title: '汇出汇款(环比%)'
                },
                {
                    field: 'amortizeCostFinliab',
                    title: '以摊余成本计量的金融负债'
                },
                {
                    field: 'amortizeCostFinliabYoy',
                    title: '以摊余成本计量的金融负债(环比%)'
                },
                {
                    field: 'investJoint',
                    title: '对联营和合营企业的投资'
                },
                {
                    field: 'investJointYoy',
                    title: '对联营和合营企业的投资(环比%)'
                },
                {
                    field: 'investRevalueReserve',
                    title: '投资重估储备'
                },
                {
                    field: 'investRevalueReserveYoy',
                    title: '投资重估储备(环比%)'
                },
                {
                    field: 'convertDiff',
                    title: '外币报表折算差额'
                },
                {
                    field: 'convertDiffYoy',
                    title: '外币报表折算差额(环比%)'
                },
                {
                    field: 'tradeFinliab',
                    title: '交易性金融负债'
                },
                {
                    field: 'tradeFinliabYoy',
                    title: '交易性金融负债(环比%)'
                },
                {
                    field: 'adviceAssignDividend',
                    title: '建议分派股利'
                },
                {
                    field: 'adviceAssignDividendYoy',
                    title: '建议分派股利(环比%)'
                },
                {
                    field: 'appointFvtplFinasset',
                    title: '指定以公允价值计量且其变动计入当期损益的金融资产'
                },
                {
                    field: 'appointFvtplFinassetYoy',
                    title: '指定以公允价值计量且其变动计入当期损益的金融资产(环比%)'
                },
                {
                    field: 'mortgageAssetImpairment',
                    title: '抵债资产减值准备'
                },
                {
                    field: 'mortgageAssetImpairmentYoy',
                    title: '抵债资产减值准备(环比%)'
                },
                {
                    field: 'perpetualBondPaybale',
                    title: '永续债/应付债券'
                },
                {
                    field: 'perpetualBondPaybaleYoy',
                    title: '永续债/应付债券(环比%)'
                },
                {
                    field: 'depositCertificate',
                    title: '存款证及应付票据'
                },
                {
                    field: 'depositCertificateYoy',
                    title: '存款证及应付票据(环比%)'
                },
                {
                    field: 'investSubsidiary',
                    title: '对子公司的投资'
                },
                {
                    field: 'investSubsidiaryYoy',
                    title: '对子公司的投资(环比%)'
                },
                {
                    field: 'parentEquityOther',
                    title: '归属于母公司股东权益其他项目'
                },
                {
                    field: 'parentEquityOtherYoy',
                    title: '归属于母公司股东权益其他项目(环比%)'
                },
                {
                    field: 'insuredDepositInvest',
                    title: '保户储金及投资款'
                },
                {
                    field: 'insuredDepositInvestYoy',
                    title: '保户储金及投资款(环比%)'
                },
                {
                    field: 'indAccLiab',
                    title: '独立账户负债'
                },
                {
                    field: 'indAccLiabYoy',
                    title: '独立账户负债(环比%)'
                },
                {
                    field: 'creditorPlanInvest',
                    title: '债权计划投资'
                },
                {
                    field: 'creditorPlanInvestYoy',
                    title: '债权计划投资(环比%)'
                },
                {
                    field: 'rcReserveRece',
                    title: '应收分保合同准备金'
                },
                {
                    field: 'rcReserveReceYoy',
                    title: '应收分保合同准备金(环比%)'
                },
                {
                    field: 'noncurrentLiabOther',
                    title: '非流动负债其他项目'
                },
                {
                    field: 'noncurrentLiabOtherYoy',
                    title: '非流动负债其他项目(环比%)'
                },
                {
                    field: 'indAccAsset',
                    title: '独立账户资产'
                },
                {
                    field: 'indAccAssetYoy',
                    title: '独立账户资产(环比%)'
                },
                {
                    field: 'subsidyRece',
                    title: '应收补贴款'
                },
                {
                    field: 'subsidyReceYoy',
                    title: '应收补贴款(环比%)'
                },
                {
                    field: 'fvtociNcfinasset',
                    title: '以公允价值计量且其变动计入其他综合收益的非流动金融资产(环比%)'
                },
                {
                    field: 'fvtociNcfinassetYoy',
                    title: '以公允价值计量且其变动计入其他综合收益的非流动金融资产(环比%)'
                },
                {
                    field: 'otherPayable',
                    title: '其他应付款'
                },
                {
                    field: 'otherPayableYoy',
                    title: '其他应付款(环比%)'
                },
                {
                    field: 'ldReserve',
                    title: '寿险责任准备金'
                },
                {
                    field: 'ldReserveYoy',
                    title: '寿险责任准备金(环比%)'
                },
                {
                    field: 'currentLiabOther',
                    title: '流动负债其他项目'
                },
                {
                    field: 'currentLiabOtherYoy',
                    title: '流动负债其他项目(环比%)'
                },
                {
                    field: 'projectMaterial',
                    title: '工程物资'
                },
                {
                    field: 'projectMaterialYoy',
                    title: '工程物资(环比%)'
                },
                {
                    field: 'fixedAssetDisposal',
                    title: '固定资产清理'
                },
                {
                    field: 'fixedAssetDisposalYoy',
                    title: '固定资产清理(环比%)'
                },
                {
                    field: 'otherNoncurrentLiab',
                    title: '其他非流动负债'
                },
                {
                    field: 'otherNoncurrentLiabYoy',
                    title: '其他非流动负债(环比%)'
                },
                {
                    field: 'oilGasAsset',
                    title: '油气资产'
                },
                {
                    field: 'oilGasAssetYoy',
                    title: '油气资产(环比%)'
                },
                {
                    field: 'noncurrentLiabBalance',
                    title: '非流动负债平衡项目'
                },
                {
                    field: 'noncurrentLiabBalanceYoy',
                    title: '非流动负债平衡项目(环比%)'
                },
                {
                    field: 'noncurrentAssetBalance',
                    title: '非流动资产平衡项目'
                },
                {
                    field: 'noncurrentAssetBalanceYoy',
                    title: '非流动资产平衡项目(环比%)'
                },
                {
                    field: 'currentLiabBalance',
                    title: '流动负债平衡项目'
                },
                {
                    field: 'currentLiabBalanceYoy',
                    title: '流动负债平衡项目(环比%)'
                },
                {
                    field: 'policyBonusPayable',
                    title: '应付保单红利'
                },
                {
                    field: 'policyBonusPayableYoy',
                    title: '应付保单红利(环比%)'
                },
                {
                    field: 'internalPayable',
                    title: '内部应付款'
                },
                {
                    field: 'internalPayableYoy',
                    title: '内部应付款(环比%)'
                },
                {
                    field: 'specialPayable',
                    title: '专项应付款'
                },
                {
                    field: 'specialPayableYoy',
                    title: '专项应付款(环比%)'
                },
                {
                    field: 'rldReserveRece',
                    title: '应收分保寿险责任准备金'
                },
                {
                    field: 'rldReserveReceYoy',
                    title: '应收分保寿险责任准备金(环比%)'
                },
                {
                    field: 'rhdReserveRece',
                    title: '应收分保长期健康险责任准备金'
                },
                {
                    field: 'rhdReserveReceYoy',
                    title: '应收分保长期健康险责任准备金(环比%)'
                },
                {
                    field: 'predictCurrentLiab',
                    title: '预计流动负债'
                },
                {
                    field: 'predictCurrentLiabYoy',
                    title: '预计流动负债(环比%)'
                },
                {
                    field: 'refundDepositRece',
                    title: '存入保证金'
                },
                {
                    field: 'refundDepositReceYoy',
                    title: '存入保证金(环比%)'
                },
                {
                    field: 'hdReserve',
                    title: '长期健康险责任准备金'
                },
                {
                    field: 'hdReserveYoy',
                    title: '长期健康险责任准备金(环比%)'
                },
                {
                    field: 'insuredPledgeLoan',
                    title: '保户质押贷款'
                },
                {
                    field: 'insuredPledgeLoanYoy',
                    title: '保户质押贷款(环比%)'
                },
                {
                    field: 'otherNoncurrentFinasset',
                    title: '其他非流动金融资产'
                },
                {
                    field: 'otherNoncurrentFinassetYoy',
                    title: '其他非流动金融资产(环比%)'
                },
                {
                    field: 'assignCashDividend',
                    title: '拟分配现金股利'
                },
                {
                    field: 'assignCashDividendYoy',
                    title: '拟分配现金股利(环比%)'
                },
                {
                    field: 'advanceReceivables',
                    title: '预收款项'
                },
                {
                    field: 'advanceReceivablesYoy',
                    title: '预收款项(环比%)'
                },
                {
                    field: 'shortBondPayable',
                    title: '应付短期债券'
                },
                {
                    field: 'shortBondPayableYoy',
                    title: '应付短期债券(环比%)'
                },
                {
                    field: 'currentAssetBalance',
                    title: '流动资产平衡项目'
                },
                {
                    field: 'currentAssetBalanceYoy',
                    title: '流动资产平衡项目(环比%)'
                },
                {
                    field: 'amortizeCostNcfinliab',
                    title: '以摊余成本计量的非流动金融负债'
                },
                {
                    field: 'amortizeCostNcfinliabYoy',
                    title: '以摊余成本计量的非流动金融负债(环比%)'
                },
                {
                    field: 'amortizeCostNcfinasset',
                    title: '以摊余成本计量的非流动金融资产'
                },
                {
                    field: 'amortizeCostNcfinassetYoy',
                    title: '以摊余成本计量的非流动金融资产(环比%)'
                },
                {
                    field: 'insuranceContractReserve',
                    title: '保险合同准备金'
                },
                {
                    field: 'insuranceContractReserveYoy',
                    title: '保险合同准备金(环比%)'
                },
                {
                    field: 'customerCreditDeposit',
                    title: '客户信用资金存款'
                },
                {
                    field: 'customerCreditDepositYoy',
                    title: '客户信用资金存款(环比%)'
                },
                {
                    field: 'ucReserve',
                    title: '未决赔款准备金'
                },
                {
                    field: 'ucReserveYoy',
                    title: '未决赔款准备金(环比%)'
                },
                {
                    field: 'creditExcessReserve',
                    title: '信用备付金'
                },
                {
                    field: 'creditExcessReserveYoy',
                    title: '信用备付金(环比%)'
                },
                {
                    field: 'tradeSeatFee',
                    title: '交易席位费'
                },
                {
                    field: 'tradeSeatFeeYoy',
                    title: '交易席位费(环比%)'
                },
                {
                    field: 'tradeRiskReserve',
                    title: '交易风险准备'
                },
                {
                    field: 'tradeRiskReserveYoy',
                    title: '交易风险准备(环比%)'
                },
                {
                    field: 'creditAgentSecurity',
                    title: '信用交易代理买卖证券款'
                },
                {
                    field: 'creditAgentSecurityYoy',
                    title: '信用交易代理买卖证券款(环比%)'
                },
                {
                    field: 'finSecurity',
                    title: '融出资金中融出证券'
                },
                {
                    field: 'finSecurityYoy',
                    title: '融出资金中融出证券(环比%)'
                },
                {
                    field: 'pledgeLoan',
                    title: '短期借款中质押借款'
                },
                {
                    field: 'pledgeLoanYoy',
                    title: '短期借款中质押借款(环比%)'
                },
                {
                    field: 'udReserve',
                    title: '未到期责任准备金'
                },
                {
                    field: 'udReserveYoy',
                    title: '未到期责任准备金(环比%)'
                },
                {
                    field: 'internalRece',
                    title: '内部应收款'
                },
                {
                    field: 'internalReceYoy',
                    title: '内部应收款(环比%)'
                },
                {
                    field: 'unconfirmInvestLoss',
                    title: '未确定的投资损失'
                },
                {
                    field: 'unconfirmInvestLossYoy',
                    title: '未确定的投资损失(环比%)'
                },
                {
                    field: 'exportRefundRece',
                    title: '应收出口退税'
                },
                {
                    field: 'exportRefundReceYoy',
                    title: '应收出口退税(环比%)'
                },
                {
                    field: 'currentAssetOther',
                    title: '流动资产其他项目'
                },
                {
                    field: 'currentAssetOtherYoy',
                    title: '流动资产其他项目(环比%)'
                },
                {
                    field: 'noncurrentAssetOther',
                    title: '非流动资产其他项目'
                },
                {
                    field: 'noncurrentAssetOtherYoy',
                    title: '非流动资产其他项目(环比%)'
                },
                {
                    field: 'productiveBiologyAsset',
                    title: '生产性生物资产'
                },
                {
                    field: 'productiveBiologyAssetYoy',
                    title: '生产性生物资产(环比%)'
                },
                {
                    field: 'accruedExpense',
                    title: '预提费用'
                },
                {
                    field: 'accruedExpenseYoy',
                    title: '预提费用(环比%)'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>