<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增财务分析-杜邦分析')" />
    <th:block th:include="include :: datetimepicker-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-invFinanceDbfx-add">
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">股票代码：</label>
                <div class="col-sm-8">
                    <input name="securityCode" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">报告类型：</label>
                <div class="col-sm-8">
                    <select name="reportType" class="form-control m-b" th:with="type=${@dict.getType('report_type')}" required>
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">报告日期：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <input name="reportDate" class="form-control" placeholder="yyyy-MM-dd" type="text">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">净资产收益率(%)：</label>
                <div class="col-sm-8">
                    <input name="roe" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">总资产净利率(%)：</label>
                <div class="col-sm-8">
                    <input name="jroa" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">归属母公司股东的净利润占比(%)：</label>
                <div class="col-sm-8">
                    <input name="parentNetprofitRatio" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">权益乘数：</label>
                <div class="col-sm-8">
                    <input name="equityMultiplier" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">营业净利润率(%)：</label>
                <div class="col-sm-8">
                    <input name="saleNpr" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">总资产周转率(%)：</label>
                <div class="col-sm-8">
                    <input name="totalAssetsTr" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">资产负债率(%)：</label>
                <div class="col-sm-8">
                    <input name="debtAssetRatio" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">净利润：</label>
                <div class="col-sm-8">
                    <input name="netprofit" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">营业总收入：</label>
                <div class="col-sm-8">
                    <input name="totalOperateIncome" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">资产总额：</label>
                <div class="col-sm-8">
                    <input name="totalAssets" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">负债总额：</label>
                <div class="col-sm-8">
                    <input name="totalLiabilities" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">收入总额：</label>
                <div class="col-sm-8">
                    <input name="totalIncome" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">成本总额：</label>
                <div class="col-sm-8">
                    <input name="totalCost" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">流动资产：</label>
                <div class="col-sm-8">
                    <input name="totalCurrentAssets" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">非流动资产：</label>
                <div class="col-sm-8">
                    <input name="totalNoncurrentAssets" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">投资收益：</label>
                <div class="col-sm-8">
                    <input name="investIncome" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">资产处置收益：</label>
                <div class="col-sm-8">
                    <input name="assetDisposalIncome" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">营业成本：</label>
                <div class="col-sm-8">
                    <input name="operateCost" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">税金及附加：</label>
                <div class="col-sm-8">
                    <input name="operateTaxAdd" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">所得税费用：</label>
                <div class="col-sm-8">
                    <input name="incomeTax" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">资产减值损失：</label>
                <div class="col-sm-8">
                    <input name="assetImpairmentIncome" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">信用减值损失：</label>
                <div class="col-sm-8">
                    <input name="creditImpairmentIncome" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">营业外支出：</label>
                <div class="col-sm-8">
                    <input name="nonbusinessExpense" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">期间费用：</label>
                <div class="col-sm-8">
                    <input name="totalExpense" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">财务费用：</label>
                <div class="col-sm-8">
                    <input name="financeExpense" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">销售费用：</label>
                <div class="col-sm-8">
                    <input name="saleExpense" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">管理费用：</label>
                <div class="col-sm-8">
                    <input name="manageExpense" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">研发费用：</label>
                <div class="col-sm-8">
                    <input name="researchExpense" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">货币资金：</label>
                <div class="col-sm-8">
                    <input name="monetaryfunds" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">应收票据：</label>
                <div class="col-sm-8">
                    <input name="noteRece" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">应收账款：</label>
                <div class="col-sm-8">
                    <input name="accountsRece" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">应收款项融资：</label>
                <div class="col-sm-8">
                    <input name="financeRece" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">其他应收款：</label>
                <div class="col-sm-8">
                    <input name="otherRece" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">存货：</label>
                <div class="col-sm-8">
                    <input name="inventory" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">其他权益工具投资：</label>
                <div class="col-sm-8">
                    <input name="otherEquityInvest" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">长期应收款：</label>
                <div class="col-sm-8">
                    <input name="longRece" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">长期股权投资：</label>
                <div class="col-sm-8">
                    <input name="longEquityInvest" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">固定资产：</label>
                <div class="col-sm-8">
                    <input name="fixedAsset" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">在建工程：</label>
                <div class="col-sm-8">
                    <input name="cip" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">使用权资产：</label>
                <div class="col-sm-8">
                    <input name="userightAsset" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">无形资产：</label>
                <div class="col-sm-8">
                    <input name="intangibleAsset" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">开发支出：</label>
                <div class="col-sm-8">
                    <input name="developExpense" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">商誉：</label>
                <div class="col-sm-8">
                    <input name="goodwill" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">长期待摊费用：</label>
                <div class="col-sm-8">
                    <input name="longPrepaidExpense" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">递延所得税资产：</label>
                <div class="col-sm-8">
                    <input name="deferTaxAsset" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">可供出售金融资产：</label>
                <div class="col-sm-8">
                    <input name="availableSaleFinasset" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">利息净收入：</label>
                <div class="col-sm-8">
                    <input name="interestNi" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">手续费及佣金净收入：</label>
                <div class="col-sm-8">
                    <input name="feeCommissionNi" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">公允价值变动收益：</label>
                <div class="col-sm-8">
                    <input name="fairvalueChangeIncome" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">汇兑收益：</label>
                <div class="col-sm-8">
                    <input name="exchangeIncome" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">业务及管理费：</label>
                <div class="col-sm-8">
                    <input name="businessManageExpense" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">已赚保费：</label>
                <div class="col-sm-8">
                    <input name="earnedPremium" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">退保金：</label>
                <div class="col-sm-8">
                    <input name="surrenderValue" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">赔付支出：</label>
                <div class="col-sm-8">
                    <input name="netCompensateExpense" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">提取保险责任准备金：</label>
                <div class="col-sm-8">
                    <input name="netContractReserve" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">保单红利支出：</label>
                <div class="col-sm-8">
                    <input name="policyBonusExpense" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">债权投资：</label>
                <div class="col-sm-8">
                    <input name="creditorInvest" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">投资性房地产：</label>
                <div class="col-sm-8">
                    <input name="investRealestate" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">手续费及佣金支出：</label>
                <div class="col-sm-8">
                    <input name="feeCommissionExpense" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">持有至到期投资：</label>
                <div class="col-sm-8">
                    <input name="holdMaturityInvest" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">交易性金融资产：</label>
                <div class="col-sm-8">
                    <input name="tradeFinasset" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">其他债权投资：</label>
                <div class="col-sm-8">
                    <input name="otherCreditorInvest" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">归属于母公司股东的净利润：</label>
                <div class="col-sm-8">
                    <input name="parentNetprofit" class="form-control" type="text">
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <script th:inline="javascript">
        var prefix = ctx + "investment/invFinanceDbfx"
        $("#form-invFinanceDbfx-add").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/add", $('#form-invFinanceDbfx-add').serialize());
            }
        }

        $("input[name='reportDate']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });
    </script>
</body>
</html>