<script type="text/template" id="tmpl_bfbbb_3">
    <table id="PPTable">
        <tbody>
        {{if lr&&lr.length>0}}
        <tr>
            <th class="tips-colname-Left"><span>利润表</span></th>
            {{each lr as value i}}
            {{if i%2==0}}
            <th class="tips-dataC" colspan="2">{{formatDate(value.REPORT_DATE,'yyyy-MM-dd')}}</th>
            {{/if}}
            {{/each}}
        </tr>
        <tr>
            <th class="tips-colname-Left"><span>指标</span></th>
            {{each lr as vlaue i}}
            {{if i%2==0}}
            <td class="tips-fieldnameC">数值</td>
            <td class="tips-fieldnameC">占比</td>
            {{/if}}
            {{/each}}
        </tr>
        <tr>
            <th class="tips-colname-Left"><span>一、营业收入(元)</span></th>
            {{each lr as value i}}
            {{if i%2==0}}
            <td class="tips-data-Right"><span>{{formatNumber(value.OPERATE_INCOME)}}</span></td>
            {{else}}
            <td class="tips-data-Right"><span>{{formatPercent(value.OPERATE_INCOME,'%')}}</span></td>
            {{/if}}
            {{/each}}
        </tr>
        <tr>
            <th class="tips-fieldname-Left"><span>&ensp;&ensp;&ensp;&ensp;利息净收入(元)</span></th>
            {{each lr as value i}}
            {{if i%2==0}}
            <td class="tips-data-Right"><span>{{formatNumber(value.INTEREST_NI)}}</span></td>
            {{else}}
            <td class="tips-data-Right"><span>{{formatPercent(value.INTEREST_NI,'%')}}</span></td>
            {{/if}}
            {{/each}}
        </tr>
        <tr>
            <th class="tips-fieldname-Left"><span>&ensp;&ensp;&ensp;&ensp;手续费及佣金净收入(元)</span></th>
            {{each lr as value i}}
            {{if i%2==0}}
            <td class="tips-data-Right"><span>{{formatNumber(value.FEE_COMMISSION_NI)}}</span></td>
            {{else}}
            <td class="tips-data-Right"><span>{{formatPercent(value.FEE_COMMISSION_NI,'%')}}</span></td>
            {{/if}}
            {{/each}}
        </tr>
        <tr>
            <th class="tips-fieldname-Left"><span>&ensp;&ensp;&ensp;&ensp;投资收益(元)</span></th>
            {{each lr as value i}}
            {{if i%2==0}}
            <td class="tips-data-Right"><span>{{formatNumber(value.INVEST_INCOME)}}</span></td>
            {{else}}
            <td class="tips-data-Right"><span>{{formatPercent(value.INVEST_INCOME,'%')}}</span></td>
            {{/if}}
            {{/each}}
        </tr>
        <tr>
            <th class="tips-fieldname-Left"><span>&ensp;&ensp;&ensp;&ensp;公允价值变动收益(元)</span></th>
            {{each lr as value i}}
            {{if i%2==0}}
            <td class="tips-data-Right"><span>{{formatNumber(value.FAIRVALUE_CHANGE_INCOME)}}</span></td>
            {{else}}
            <td class="tips-data-Right"><span>{{formatPercent(value.FAIRVALUE_CHANGE_INCOME,'%')}}</span></td>
            {{/if}}
            {{/each}}
        </tr>
        <tr>
            <th class="tips-fieldname-Left"><span>&ensp;&ensp;&ensp;&ensp;汇兑收益(元)</span></th>
            {{each lr as value i}}
            {{if i%2==0}}
            <td class="tips-data-Right"><span>{{formatNumber(value.EXCHANGE_INCOME)}}</span></td>
            {{else}}
            <td class="tips-data-Right"><span>{{formatPercent(value.EXCHANGE_INCOME,'%')}}</span></td>
            {{/if}}
            {{/each}}
        </tr>
        <tr>
            <th class="tips-fieldname-Left"><span>&ensp;&ensp;&ensp;&ensp;其他业务收入(元)</span></th>
            {{each lr as value i}}
            {{if i%2==0}}
            <td class="tips-data-Right"><span>{{formatNumber(value.OTHER_BUSINESS_INCOME)}}</span></td>
            {{else}}
            <td class="tips-data-Right"><span>{{formatPercent(value.OTHER_BUSINESS_INCOME,'%')}}</span></td>
            {{/if}}
            {{/each}}
        </tr>
        <tr>
            <th class="tips-fieldname-Left"><span>&ensp;&ensp;&ensp;&ensp;资产处置收益(元)</span></th>
            {{each lr as value i}}
            {{if i%2==0}}
            <td class="tips-data-Right"><span>{{formatNumber(value.ASSET_DISPOSAL_INCOME)}}</span></td>
            {{else}}
            <td class="tips-data-Right"><span>{{formatPercent(value.ASSET_DISPOSAL_INCOME,'%')}}</span></td>
            {{/if}}
            {{/each}}
        </tr>
        <tr>
            <th class="tips-fieldname-Left"><span>&ensp;&ensp;&ensp;&ensp;其他收益(元)</span></th>
            {{each lr as value i}}
            {{if i%2==0}}
            <td class="tips-data-Right"><span>{{formatNumber(value.OTHER_INCOME)}}</span></td>
            {{else}}
            <td class="tips-data-Right"><span>{{formatPercent(value.OTHER_INCOME,'%')}}</span></td>
            {{/if}}
            {{/each}}
        </tr>
        <tr>
            <th class="tips-colname-Left"><span>二、营业支出(元)</span></th>
            {{each lr as value i}}
            {{if i%2==0}}
            <td class="tips-data-Right"><span>{{formatNumber(value.OPERATE_EXPENSE)}}</span></td>
            {{else}}
            <td class="tips-data-Right"><span>{{formatPercent(value.OPERATE_EXPENSE,'%')}}</span></td>
            {{/if}}
            {{/each}}
        </tr>
        <tr>
            <th class="tips-fieldname-Left"><span>&ensp;&ensp;&ensp;&ensp;税金及附加(元)</span></th>
            {{each lr as value i}}
            {{if i%2==0}}
            <td class="tips-data-Right"><span>{{formatNumber(value.OPERATE_TAX_ADD)}}</span></td>
            {{else}}
            <td class="tips-data-Right"><span>{{formatPercent(value.OPERATE_TAX_ADD,'%')}}</span></td>
            {{/if}}
            {{/each}}
        </tr>
        <tr>
            <th class="tips-fieldname-Left"><span>&ensp;&ensp;&ensp;&ensp;业务及管理费(元)</span></th>
            {{each lr as value i}}
            {{if i%2==0}}
            <td class="tips-data-Right"><span>{{formatNumber(value.BUSINESS_MANAGE_EXPENSE)}}</span></td>
            {{else}}
            <td class="tips-data-Right"><span>{{formatPercent(value.BUSINESS_MANAGE_EXPENSE,'%')}}</span></td>
            {{/if}}
            {{/each}}
        </tr>
        <tr>
            <th class="tips-fieldname-Left"><span>&ensp;&ensp;&ensp;&ensp;资产减值损失(元)</span></th>
            {{each lr as value i}}
            {{if i%2==0}}
            <td class="tips-data-Right"><span>{{formatNumber(value.ASSET_IMPAIRMENT_LOSS)}}</span></td>
            {{else}}
            <td class="tips-data-Right"><span>{{formatPercent(value.ASSET_IMPAIRMENT_LOSS,'%')}}</span></td>
            {{/if}}
            {{/each}}
        </tr>
        <tr>
            <th class="tips-fieldname-Left"><span>&ensp;&ensp;&ensp;&ensp;信用减值损失(元)</span></th>
            {{each lr as value i}}
            {{if i%2==0}}
            <td class="tips-data-Right"><span>{{formatNumber(value.CREDIT_IMPAIRMENT_LOSS)}}</span></td>
            {{else}}
            <td class="tips-data-Right"><span>{{formatPercent(value.CREDIT_IMPAIRMENT_LOSS,'%')}}</span></td>
            {{/if}}
            {{/each}}
        </tr>
        <tr>
            <th class="tips-fieldname-Left"><span>&ensp;&ensp;&ensp;&ensp;其他业务成本(元)</span></th>
            {{each lr as value i}}
            {{if i%2==0}}
            <td class="tips-data-Right"><span>{{formatNumber(value.OTHER_BUSINESS_COST)}}</span></td>
            {{else}}
            <td class="tips-data-Right"><span>{{formatPercent(value.OTHER_BUSINESS_COST,'%')}}</span></td>
            {{/if}}
            {{/each}}
        </tr>
        <tr>
            <th class="tips-colname-Left"><span>三、营业利润(元)</span></th>
            {{each lr as value i}}
            {{if i%2==0}}
            <td class="tips-data-Right"><span>{{formatNumber(value.OPERATE_PROFIT)}}</span></td>
            {{else}}
            <td class="tips-data-Right"><span>{{formatPercent(value.OPERATE_PROFIT,'%')}}</span></td>
            {{/if}}
            {{/each}}
        </tr>
        <tr>
            <th class="tips-fieldname-Left"><span>&ensp;&ensp;&ensp;&ensp;加:营业外收入(元)</span></th>
            {{each lr as value i}}
            {{if i%2==0}}
            <td class="tips-data-Right"><span>{{formatNumber(value.NONBUSINESS_INCOME)}}</span></td>
            {{else}}
            <td class="tips-data-Right"><span>{{formatPercent(value.NONBUSINESS_INCOME,'%')}}</span></td>
            {{/if}}
            {{/each}}
        </tr>
        <tr>
            <th class="tips-fieldname-Left"><span>&ensp;&ensp;&ensp;&ensp;减:营业外支出(元)</span></th>
            {{each lr as value i}}
            {{if i%2==0}}
            <td class="tips-data-Right"><span>{{formatNumber(value.NONBUSINESS_EXPENSE)}}</span></td>
            {{else}}
            <td class="tips-data-Right"><span>{{formatPercent(value.NONBUSINESS_EXPENSE,'%')}}</span></td>
            {{/if}}
            {{/each}}
        </tr>
        <tr>
            <th class="tips-colname-Left"><span>四、利润总额(元)</span></th>
            {{each lr as value i}}
            {{if i%2==0}}
            <td class="tips-data-Right"><span>{{formatNumber(value.TOTAL_PROFIT)}}</span></td>
            {{else}}
            <td class="tips-data-Right"><span>{{formatPercent(value.TOTAL_PROFIT,'%')}}</span></td>
            {{/if}}
            {{/each}}
        </tr>
        <tr>
            <th class="tips-fieldname-Left"><span>&ensp;&ensp;&ensp;&ensp;减:所得税费用(元)</span></th>
            {{each lr as value i}}
            {{if i%2==0}}
            <td class="tips-data-Right"><span>{{formatNumber(value.INCOME_TAX)}}</span></td>
            {{else}}
            <td class="tips-data-Right"><span>{{formatPercent(value.INCOME_TAX,'%')}}</span></td>
            {{/if}}
            {{/each}}
        </tr>
        <tr>
            <th class="tips-colname-Left"><span>五、净利润(元)</span></th>
            {{each lr as value i}}
            {{if i%2==0}}
            <td class="tips-data-Right"><span>{{formatNumber(value.NETPROFIT)}}</span></td>
            {{else}}
            <td class="tips-data-Right"><span>{{formatPercent(value.NETPROFIT,'%')}}</span></td>
            {{/if}}
            {{/each}}
        </tr>
        {{else}}
        <tr class="BBMX_null">
            <td>该股暂无百分比报表内容</td>
        </tr>
        {{/if}}
        </tbody>
    </table>
</script>