<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改财务分析-资产负债-证劵类-报告期')" />
    <th:block th:include="include :: datetimepicker-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-invFinanceZcfzSecuritiesPeriod-edit" th:object="${invFinanceZcfzSecuritiesPeriod}">
            <input name="id" th:field="*{id}" type="hidden">
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">股票代码：</label>
                <div class="col-sm-8">
                    <input name="securityCode" th:field="*{securityCode}" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">报告日期：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <input name="reportDate" th:value="${#dates.format(invFinanceZcfzSecuritiesPeriod.reportDate, 'yyyy-MM-dd')}" class="form-control" placeholder="yyyy-MM-dd" type="text">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">货币资金：</label>
                <div class="col-sm-8">
                    <input name="monetaryfunds" th:field="*{monetaryfunds}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">货币资金(环比%)：</label>
                <div class="col-sm-8">
                    <input name="monetaryfundsYoy" th:field="*{monetaryfundsYoy}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">客户资金存款：</label>
                <div class="col-sm-8">
                    <input name="customerDeposit" th:field="*{customerDeposit}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">客户资金存款(环比%)：</label>
                <div class="col-sm-8">
                    <input name="customerDepositYoy" th:field="*{customerDepositYoy}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">结算备付金：</label>
                <div class="col-sm-8">
                    <input name="settleExcessReserve" th:field="*{settleExcessReserve}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">结算备付金(环比%)：</label>
                <div class="col-sm-8">
                    <input name="settleExcessReserveYoy" th:field="*{settleExcessReserveYoy}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">客户备付金：</label>
                <div class="col-sm-8">
                    <input name="customerExcessReserve" th:field="*{customerExcessReserve}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">客户备付金(环比%)：</label>
                <div class="col-sm-8">
                    <input name="customerExcessReserveYoy" th:field="*{customerExcessReserveYoy}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">融出资金：</label>
                <div class="col-sm-8">
                    <input name="finFund" th:field="*{finFund}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">融出资金(环比%)：</label>
                <div class="col-sm-8">
                    <input name="finFundYoy" th:field="*{finFundYoy}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">衍生金融资产：</label>
                <div class="col-sm-8">
                    <input name="deriveFinasset" th:field="*{deriveFinasset}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">衍生金融资产(环比%)：</label>
                <div class="col-sm-8">
                    <input name="deriveFinassetYoy" th:field="*{deriveFinassetYoy}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">买入返售金融资产：</label>
                <div class="col-sm-8">
                    <input name="buyResaleFinasset" th:field="*{buyResaleFinasset}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">买入返售金融资产(环比%)：</label>
                <div class="col-sm-8">
                    <input name="buyResaleFinassetYoy" th:field="*{buyResaleFinassetYoy}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">应收款项：</label>
                <div class="col-sm-8">
                    <input name="receivables" th:field="*{receivables}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">应收款项(环比%)：</label>
                <div class="col-sm-8">
                    <input name="receivablesYoy" th:field="*{receivablesYoy}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">存出保证金：</label>
                <div class="col-sm-8">
                    <input name="refundDepositPay" th:field="*{refundDepositPay}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">存出保证金(环比%)：</label>
                <div class="col-sm-8">
                    <input name="refundDepositPayYoy" th:field="*{refundDepositPayYoy}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">交易性金融资产：</label>
                <div class="col-sm-8">
                    <input name="tradeFinassetNotfvtpl" th:field="*{tradeFinassetNotfvtpl}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">交易性金融资产(环比%)：</label>
                <div class="col-sm-8">
                    <input name="tradeFinassetNotfvtplYoy" th:field="*{tradeFinassetNotfvtplYoy}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">债权投资：</label>
                <div class="col-sm-8">
                    <input name="creditorInvest" th:field="*{creditorInvest}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">债权投资(环比%)：</label>
                <div class="col-sm-8">
                    <input name="creditorInvestYoy" th:field="*{creditorInvestYoy}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">其他权益工具投资：</label>
                <div class="col-sm-8">
                    <input name="otherEquityInvest" th:field="*{otherEquityInvest}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">其他权益工具投资(环比%)：</label>
                <div class="col-sm-8">
                    <input name="otherEquityInvestYoy" th:field="*{otherEquityInvestYoy}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">长期股权投资：</label>
                <div class="col-sm-8">
                    <input name="longEquityInvest" th:field="*{longEquityInvest}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">长期股权投资(环比%)：</label>
                <div class="col-sm-8">
                    <input name="longEquityInvestYoy" th:field="*{longEquityInvestYoy}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">投资性房地产：</label>
                <div class="col-sm-8">
                    <input name="investRealestate" th:field="*{investRealestate}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">投资性房地产(环比%)：</label>
                <div class="col-sm-8">
                    <input name="investRealestateYoy" th:field="*{investRealestateYoy}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">固定资产：</label>
                <div class="col-sm-8">
                    <input name="fixedAsset" th:field="*{fixedAsset}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">固定资产(环比%)：</label>
                <div class="col-sm-8">
                    <input name="fixedAssetYoy" th:field="*{fixedAssetYoy}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">使用权资产：</label>
                <div class="col-sm-8">
                    <input name="userightAsset" th:field="*{userightAsset}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">使用权资产(环比%)：</label>
                <div class="col-sm-8">
                    <input name="userightAssetYoy" th:field="*{userightAssetYoy}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">无形资产：</label>
                <div class="col-sm-8">
                    <input name="intangibleAsset" th:field="*{intangibleAsset}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">无形资产(环比%)：</label>
                <div class="col-sm-8">
                    <input name="intangibleAssetYoy" th:field="*{intangibleAssetYoy}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">商誉：</label>
                <div class="col-sm-8">
                    <input name="goodwill" th:field="*{goodwill}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">商誉(环比%)：</label>
                <div class="col-sm-8">
                    <input name="goodwillYoy" th:field="*{goodwillYoy}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">递延所得税资产：</label>
                <div class="col-sm-8">
                    <input name="deferTaxAsset" th:field="*{deferTaxAsset}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">递延所得税资产(环比%)：</label>
                <div class="col-sm-8">
                    <input name="deferTaxAssetYoy" th:field="*{deferTaxAssetYoy}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">其他资产：</label>
                <div class="col-sm-8">
                    <input name="otherAsset" th:field="*{otherAsset}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">其他资产(环比%)：</label>
                <div class="col-sm-8">
                    <input name="otherAssetYoy" th:field="*{otherAssetYoy}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">资产总计：</label>
                <div class="col-sm-8">
                    <input name="totalAssets" th:field="*{totalAssets}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">资产总计(环比%)：</label>
                <div class="col-sm-8">
                    <input name="totalAssetsYoy" th:field="*{totalAssetsYoy}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">应付短期融资款：</label>
                <div class="col-sm-8">
                    <input name="shortFinPayable" th:field="*{shortFinPayable}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">应付短期融资款(环比%)：</label>
                <div class="col-sm-8">
                    <input name="shortFinPayableYoy" th:field="*{shortFinPayableYoy}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">拆入资金：</label>
                <div class="col-sm-8">
                    <input name="borrowFund" th:field="*{borrowFund}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">拆入资金(环比%)：</label>
                <div class="col-sm-8">
                    <input name="borrowFundYoy" th:field="*{borrowFundYoy}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">交易性金融负债：</label>
                <div class="col-sm-8">
                    <input name="tradeFinliabNotfvtpl" th:field="*{tradeFinliabNotfvtpl}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">交易性金融负债(环比%)：</label>
                <div class="col-sm-8">
                    <input name="tradeFinliabNotfvtplYoy" th:field="*{tradeFinliabNotfvtplYoy}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">衍生金融负债：</label>
                <div class="col-sm-8">
                    <input name="deriveFinliab" th:field="*{deriveFinliab}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">衍生金融负债(环比%)：</label>
                <div class="col-sm-8">
                    <input name="deriveFinliabYoy" th:field="*{deriveFinliabYoy}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">卖出回购金融资产款：</label>
                <div class="col-sm-8">
                    <input name="sellRepoFinasset" th:field="*{sellRepoFinasset}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">卖出回购金融资产款(环比%)：</label>
                <div class="col-sm-8">
                    <input name="sellRepoFinassetYoy" th:field="*{sellRepoFinassetYoy}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">代理买卖证券款：</label>
                <div class="col-sm-8">
                    <input name="agentTradeSecurity" th:field="*{agentTradeSecurity}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">代理买卖证券款(环比%)：</label>
                <div class="col-sm-8">
                    <input name="agentTradeSecurityYoy" th:field="*{agentTradeSecurityYoy}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">代理承销证券款：</label>
                <div class="col-sm-8">
                    <input name="agentUnderwriteSecurity" th:field="*{agentUnderwriteSecurity}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">代理承销证券款(环比%)：</label>
                <div class="col-sm-8">
                    <input name="agentUnderwriteSecurityYoy" th:field="*{agentUnderwriteSecurityYoy}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">应付账款：</label>
                <div class="col-sm-8">
                    <input name="accountsPayable" th:field="*{accountsPayable}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">应付账款(环比%)：</label>
                <div class="col-sm-8">
                    <input name="accountsPayableYoy" th:field="*{accountsPayableYoy}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">应付职工薪酬：</label>
                <div class="col-sm-8">
                    <input name="staffSalaryPayable" th:field="*{staffSalaryPayable}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">应付职工薪酬(环比%)：</label>
                <div class="col-sm-8">
                    <input name="staffSalaryPayableYoy" th:field="*{staffSalaryPayableYoy}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">应交税费：</label>
                <div class="col-sm-8">
                    <input name="taxPayable" th:field="*{taxPayable}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">应交税费(环比%)：</label>
                <div class="col-sm-8">
                    <input name="taxPayableYoy" th:field="*{taxPayableYoy}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">预计负债：</label>
                <div class="col-sm-8">
                    <input name="predictLiab" th:field="*{predictLiab}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">预计负债(环比%)：</label>
                <div class="col-sm-8">
                    <input name="predictLiabYoy" th:field="*{predictLiabYoy}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">应付债券：</label>
                <div class="col-sm-8">
                    <input name="bondPayable" th:field="*{bondPayable}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">应付债券(环比%)：</label>
                <div class="col-sm-8">
                    <input name="bondPayableYoy" th:field="*{bondPayableYoy}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">租赁负债：</label>
                <div class="col-sm-8">
                    <input name="leaseLiab" th:field="*{leaseLiab}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">租赁负债(环比%)：</label>
                <div class="col-sm-8">
                    <input name="leaseLiabYoy" th:field="*{leaseLiabYoy}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">递延所得税负债：</label>
                <div class="col-sm-8">
                    <input name="deferTaxLiab" th:field="*{deferTaxLiab}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">递延所得税负债(环比%)：</label>
                <div class="col-sm-8">
                    <input name="deferTaxLiabYoy" th:field="*{deferTaxLiabYoy}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">其他负债：</label>
                <div class="col-sm-8">
                    <input name="otherLiab" th:field="*{otherLiab}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">其他负债(环比%)：</label>
                <div class="col-sm-8">
                    <input name="otherLiabYoy" th:field="*{otherLiabYoy}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">负债其他项目：</label>
                <div class="col-sm-8">
                    <input name="liabOther" th:field="*{liabOther}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">负债其他项目(环比%)：</label>
                <div class="col-sm-8">
                    <input name="liabOtherYoy" th:field="*{liabOtherYoy}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">负债合计：</label>
                <div class="col-sm-8">
                    <input name="totalLiabilities" th:field="*{totalLiabilities}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">负债合计(环比%)：</label>
                <div class="col-sm-8">
                    <input name="totalLiabilitiesYoy" th:field="*{totalLiabilitiesYoy}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">股本：</label>
                <div class="col-sm-8">
                    <input name="shareCapital" th:field="*{shareCapital}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">股本(环比%)：</label>
                <div class="col-sm-8">
                    <input name="shareCapitalYoy" th:field="*{shareCapitalYoy}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">资本公积：</label>
                <div class="col-sm-8">
                    <input name="capitalReserve" th:field="*{capitalReserve}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">资本公积(环比%)：</label>
                <div class="col-sm-8">
                    <input name="capitalReserveYoy" th:field="*{capitalReserveYoy}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">其他综合收益：</label>
                <div class="col-sm-8">
                    <input name="otherCompreIncome" th:field="*{otherCompreIncome}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">其他综合收益(环比%)：</label>
                <div class="col-sm-8">
                    <input name="otherCompreIncomeYoy" th:field="*{otherCompreIncomeYoy}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">盈余公积：</label>
                <div class="col-sm-8">
                    <input name="surplusReserve" th:field="*{surplusReserve}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">盈余公积(环比%)：</label>
                <div class="col-sm-8">
                    <input name="surplusReserveYoy" th:field="*{surplusReserveYoy}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">一般风险准备：</label>
                <div class="col-sm-8">
                    <input name="generalRiskReserve" th:field="*{generalRiskReserve}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">一般风险准备(环比%)：</label>
                <div class="col-sm-8">
                    <input name="generalRiskReserveYoy" th:field="*{generalRiskReserveYoy}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">未分配利润：</label>
                <div class="col-sm-8">
                    <input name="unassignRpofit" th:field="*{unassignRpofit}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">未分配利润(环比%)：</label>
                <div class="col-sm-8">
                    <input name="unassignRpofitYoy" th:field="*{unassignRpofitYoy}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">归属于母公司股东权益总计：</label>
                <div class="col-sm-8">
                    <input name="totalParentEquity" th:field="*{totalParentEquity}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">归属于母公司股东权益总计(环比%)：</label>
                <div class="col-sm-8">
                    <input name="totalParentEquityYoy" th:field="*{totalParentEquityYoy}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">少数股东权益：</label>
                <div class="col-sm-8">
                    <input name="minorityEquity" th:field="*{minorityEquity}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">少数股东权益(环比%)：</label>
                <div class="col-sm-8">
                    <input name="minorityEquityYoy" th:field="*{minorityEquityYoy}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">股东权益合计：</label>
                <div class="col-sm-8">
                    <input name="totalEquity" th:field="*{totalEquity}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">股东权益合计(环比%)：</label>
                <div class="col-sm-8">
                    <input name="totalEquityYoy" th:field="*{totalEquityYoy}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">负债和股东权益总计：</label>
                <div class="col-sm-8">
                    <input name="totalLiabEquity" th:field="*{totalLiabEquity}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">负债和股东权益总计(环比%)：</label>
                <div class="col-sm-8">
                    <input name="totalLiabEquityYoy" th:field="*{totalLiabEquityYoy}" class="form-control" type="text">
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <script th:inline="javascript">
        var prefix = ctx + "investment/invFinanceZcfzSecuritiesPeriod";
        $("#form-invFinanceZcfzSecuritiesPeriod-edit").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/edit", $('#form-invFinanceZcfzSecuritiesPeriod-edit').serialize());
            }
        }

        $("input[name='reportDate']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });
    </script>
</body>
</html>