<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改个股龙虎榜')" />
    <th:block th:include="include :: datetimepicker-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-invLhbStock-edit" th:object="${invLhbStock}">
            <input name="id" th:field="*{id}" type="hidden">
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">股票代码：</label>
                <div class="col-sm-8">
                    <input name="securityCode" th:field="*{securityCode}" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">上榜日期：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <input name="tradeDate" th:value="${#dates.format(invLhbStock.tradeDate, 'yyyy-MM-dd')}" class="form-control" placeholder="yyyy-MM-dd" type="text" required>
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">数据类型：</label>
                <div class="col-sm-8">
                    <select name="lhbDataType" class="form-control m-b" th:with="type=${@dict.getType('lhb_data_type')}" required>
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}" th:field="*{lhbDataType}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">上榜说明：</label>
                <div class="col-sm-8">
                    <input name="explanation" th:field="*{explanation}" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">交易营业部代码：</label>
                <div class="col-sm-8">
                    <input name="operatedeptCode" th:field="*{operatedeptCode}" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">交易营业部名称：</label>
                <div class="col-sm-8">
                    <input name="operatedeptName" th:field="*{operatedeptName}" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">买入金额(元)：</label>
                <div class="col-sm-8">
                    <input name="buy" th:field="*{buy}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">占总成交比例：</label>
                <div class="col-sm-8">
                    <input name="totalBuyrio" th:field="*{totalBuyrio}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">卖出金额(元)：</label>
                <div class="col-sm-8">
                    <input name="sell" th:field="*{sell}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">占总成交比例：</label>
                <div class="col-sm-8">
                    <input name="totalSellrio" th:field="*{totalSellrio}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">净额(元)：</label>
                <div class="col-sm-8">
                    <input name="net" th:field="*{net}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">(前5名)买入金额合计(元)：</label>
                <div class="col-sm-8">
                    <input name="totalBuy" th:field="*{totalBuy}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">(前5名)卖出金额合计(元)：</label>
                <div class="col-sm-8">
                    <input name="totalSell" th:field="*{totalSell}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">(前5名)占总成交比例：</label>
                <div class="col-sm-8">
                    <input name="totalBuyriotop" th:field="*{totalBuyriotop}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">(前5名)净额合计(元)：</label>
                <div class="col-sm-8">
                    <input name="totalNet" th:field="*{totalNet}" class="form-control" type="text">
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <script th:inline="javascript">
        var prefix = ctx + "investment/invLhbStock";
        $("#form-invLhbStock-edit").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/edit", $('#form-invLhbStock-edit').serialize());
            }
        }

        $("input[name='tradeDate']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });
    </script>
</body>
</html>