<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.investment.mapper.InvCompanyAddressMapper">
    
    <resultMap type="InvCompanyAddress" id="InvCompanyAddressResult">
        <result property="id"    column="id"    />
        <result property="code"    column="code"    />
        <result property="type"    column="type"    />
        <result property="level"    column="level"    />
        <result property="areaId"    column="area_id"    />
    </resultMap>

    <sql id="selectInvCompanyAddressVo">
        select id, code, type, level, area_id from inv_company_address
    </sql>

    <select id="selectInvCompanyAddressList" parameterType="InvCompanyAddress" resultMap="InvCompanyAddressResult">
        <include refid="selectInvCompanyAddressVo"/>
        <where>  
            <if test="code != null  and code != ''"> and code = #{code}</if>
            <if test="type != null  and type != ''"> and type = #{type}</if>
            <if test="level != null "> and level = #{level}</if>
            <if test="areaId != null "> and area_id = #{areaId}</if>
        </where>
    </select>
    
    <select id="selectInvCompanyAddressById" parameterType="Integer" resultMap="InvCompanyAddressResult">
        <include refid="selectInvCompanyAddressVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertInvCompanyAddress" parameterType="InvCompanyAddress" useGeneratedKeys="true" keyProperty="id">
        insert into inv_company_address
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="code != null and code != ''">code,</if>
            <if test="type != null and type != ''">type,</if>
            <if test="level != null">level,</if>
            <if test="areaId != null">area_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="code != null and code != ''">#{code},</if>
            <if test="type != null and type != ''">#{type},</if>
            <if test="level != null">#{level},</if>
            <if test="areaId != null">#{areaId},</if>
         </trim>
    </insert>

    <update id="updateInvCompanyAddress" parameterType="InvCompanyAddress">
        update inv_company_address
        <trim prefix="SET" suffixOverrides=",">
            <if test="code != null and code != ''">code = #{code},</if>
            <if test="type != null and type != ''">type = #{type},</if>
            <if test="level != null">level = #{level},</if>
            <if test="areaId != null">area_id = #{areaId},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteInvCompanyAddressById" parameterType="Integer">
        delete from inv_company_address where id = #{id}
    </delete>

    <delete id="deleteInvCompanyAddressByIds" parameterType="String">
        delete from inv_company_address where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <delete id="deleteInvCompanyAddress" parameterType="InvCompanyAddress">
        delete from inv_company_address
        <where>
            <if test="code != null  and code != ''"> and code = #{code}</if>
            <if test="type != null  and type != ''"> and type = #{type}</if>
            <if test="level != null "> and level = #{level}</if>
        </where>
    </delete>

</mapper>