<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.investment.mapper.InvCompanyIndustryEmMapper">
    
    <resultMap type="InvCompanyIndustryEm" id="InvCompanyIndustryEmResult">
        <result property="id"    column="id"    />
        <result property="code"    column="code"    />
        <result property="level"    column="level"    />
        <result property="industryEmId"    column="industry_em_id"    />
    </resultMap>

    <sql id="selectInvCompanyIndustryEmVo">
        select id, code, level, industry_em_id from inv_company_industry_em
    </sql>

    <select id="selectInvCompanyIndustryEmList" parameterType="InvCompanyIndustryEm" resultMap="InvCompanyIndustryEmResult">
        <include refid="selectInvCompanyIndustryEmVo"/>
        <where>  
            <if test="code != null  and code != ''"> and code = #{code}</if>
            <if test="level != null "> and level = #{level}</if>
            <if test="industryEmId != null "> and industry_em_id = #{industryEmId}</if>
        </where>
    </select>
    
    <select id="selectInvCompanyIndustryEmById" parameterType="Integer" resultMap="InvCompanyIndustryEmResult">
        <include refid="selectInvCompanyIndustryEmVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertInvCompanyIndustryEm" parameterType="InvCompanyIndustryEm" useGeneratedKeys="true" keyProperty="id">
        insert into inv_company_industry_em
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="code != null and code != ''">code,</if>
            <if test="level != null">level,</if>
            <if test="industryEmId != null">industry_em_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="code != null and code != ''">#{code},</if>
            <if test="level != null">#{level},</if>
            <if test="industryEmId != null">#{industryEmId},</if>
         </trim>
    </insert>

    <update id="updateInvCompanyIndustryEm" parameterType="InvCompanyIndustryEm">
        update inv_company_industry_em
        <trim prefix="SET" suffixOverrides=",">
            <if test="code != null and code != ''">code = #{code},</if>
            <if test="level != null">level = #{level},</if>
            <if test="industryEmId != null">industry_em_id = #{industryEmId},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteInvCompanyIndustryEmById" parameterType="Integer">
        delete from inv_company_industry_em where id = #{id}
    </delete>

    <delete id="deleteInvCompanyIndustryEmByIds" parameterType="String">
        delete from inv_company_industry_em where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>