<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.investment.mapper.InvFinanceZyzbYearMapper">
    
    <resultMap type="InvFinanceZyzbYear" id="InvFinanceZyzbYearResult">
        <result property="id"    column="id"    />
        <result property="securityCode"    column="security_code"    />
        <result property="reportDate"    column="report_date"    />
        <result property="noticeDate"    column="notice_date"    />
        <result property="updateDate"    column="update_date"    />
        <result property="mgwfplr"    column="mgwfplr"    />
        <result property="mgjyxjje"    column="mgjyxjje"    />
        <result property="epsxs"    column="epsxs"    />
        <result property="epskcjb"    column="epskcjb"    />
        <result property="mgzbgj"    column="mgzbgj"    />
        <result property="bps"    column="bps"    />
        <result property="epsjb"    column="epsjb"    />
        <result property="yyzsrgdhbzc"    column="yyzsrgdhbzc"    />
        <result property="totaloperatereve"    column="totaloperatereve"    />
        <result property="kfjlrgdhbzc"    column="kfjlrgdhbzc"    />
        <result property="kcfjcxsyjlr"    column="kcfjcxsyjlr"    />
        <result property="epsjbtz"    column="epsjbtz"    />
        <result property="kcfjcxsyjlrtz"    column="kcfjcxsyjlrtz"    />
        <result property="parentnetprofit"    column="parentnetprofit"    />
        <result property="netprofitrphbzc"    column="netprofitrphbzc"    />
        <result property="totaloperaterevetz"    column="totaloperaterevetz"    />
        <result property="roekcjq"    column="roekcjq"    />
        <result property="zzcjll"    column="zzcjll"    />
        <result property="roejq"    column="roejq"    />
        <result property="xsmll"    column="xsmll"    />
        <result property="xsjll"    column="xsjll"    />
        <result property="cqbl"    column="cqbl"    />
        <result property="zcfzl"    column="zcfzl"    />
        <result property="qycs"    column="qycs"    />
        <result property="sd"    column="sd"    />
        <result property="xjllb"    column="xjllb"    />
        <result property="ld"    column="ld"    />
        <result property="zzczzts"    column="zzczzts"    />
        <result property="yszkzzl"    column="yszkzzl"    />
        <result property="yszkzzts"    column="yszkzzts"    />
        <result property="chzzts"    column="chzzts"    />
        <result property="chzzl"    column="chzzl"    />
        <result property="toazzl"    column="toazzl"    />
        <result property="yszkyysr"    column="yszkyysr"    />
        <result property="rzrqywfxzb"    column="rzrqywfxzb"    />
        <result property="zygdsylzqjzb"    column="zygdsylzqjzb"    />
        <result property="totaldeposits"    column="totaldeposits"    />
        <result property="mlr"    column="mlr"    />
        <result property="earnedPremium"    column="earned_premium"    />
        <result property="jzbjzc"    column="jzbjzc"    />
        <result property="taxrate"    column="taxrate"    />
        <result property="zygpgmjzc"    column="zygpgmjzc"    />
        <result property="ltdrr"    column="ltdrr"    />
        <result property="solvencyAr"    column="solvency_ar"    />
        <result property="jjywfxzb"    column="jjywfxzb"    />
        <result property="zqzyywfxzb"    column="zqzyywfxzb"    />
        <result property="surrenderRateLife"    column="surrender_rate_life"    />
        <result property="jyxjlyysr"    column="jyxjlyysr"    />
        <result property="nzbje"    column="nzbje"    />
        <result property="nonperloan"    column="nonperloan"    />
        <result property="totalRoi"    column="total_roi"    />
        <result property="zqcxywfxzb"    column="zqcxywfxzb"    />
        <result property="netRoi"    column="net_roi"    />
        <result property="grossloans"    column="grossloans"    />
        <result property="hxyjbczl"    column="hxyjbczl"    />
        <result property="parentnetprofittz"    column="parentnetprofittz"    />
        <result property="compensateExpense"    column="compensate_expense"    />
        <result property="jzc"    column="jzc"    />
        <result property="jzb"    column="jzb"    />
        <result property="bldkbbl"    column="bldkbbl"    />
        <result property="newcapitalader"    column="newcapitalader"    />
        <result property="xsjxlyysr"    column="xsjxlyysr"    />
        <result property="yyfxzb"    column="yyfxzb"    />
        <result property="zcfzltz"    column="zcfzltz"    />
        <result property="nbvRate"    column="nbv_rate"    />
        <result property="roejqtz"    column="roejqtz"    />
        <result property="djdDeductdpnpYoy"    column="djd_deductdpnp_yoy"    />
        <result property="bpstz"    column="bpstz"    />
        <result property="roic"    column="roic"    />
        <result property="roictz"    column="roictz"    />
        <result property="reportYear"    column="report_year"    />
        <result property="mgjyxjjetz"    column="mgjyxjjetz"    />
        <result property="djdDpnpYoy"    column="djd_dpnp_yoy"    />
        <result property="mgzbgjtz"    column="mgzbgjtz"    />
        <result property="zzcjlltz"    column="zzcjlltz"    />
        <result property="djdDpnpQoq"    column="djd_dpnp_qoq"    />
        <result property="mgwfplrtz"    column="mgwfplrtz"    />
        <result property="djdDeductdpnpQoq"    column="djd_deductdpnp_qoq"    />
        <result property="nbvLife"    column="nbv_life"    />
        <result property="nhjzCurrentAmt"    column="nhjz_current_amt"    />
        <result property="djdToiQoq"    column="djd_toi_qoq"    />
        <result property="djdToiYoy"    column="djd_toi_yoy"    />
    </resultMap>

    <sql id="selectInvFinanceZyzbYearVo">
        select id, security_code, report_date, notice_date, update_date, mgwfplr, mgjyxjje, epsxs, epskcjb, mgzbgj, bps, epsjb, yyzsrgdhbzc, totaloperatereve, kfjlrgdhbzc, kcfjcxsyjlr, epsjbtz, kcfjcxsyjlrtz, parentnetprofit, netprofitrphbzc, totaloperaterevetz, roekcjq, zzcjll, roejq, xsmll, xsjll, cqbl, zcfzl, qycs, sd, xjllb, ld, zzczzts, yszkzzl, yszkzzts, chzzts, chzzl, toazzl, yszkyysr, rzrqywfxzb, zygdsylzqjzb, totaldeposits, mlr, earned_premium, jzbjzc, taxrate, zygpgmjzc, ltdrr, solvency_ar, jjywfxzb, zqzyywfxzb, surrender_rate_life, jyxjlyysr, nzbje, nonperloan, total_roi, zqcxywfxzb, net_roi, grossloans, hxyjbczl, parentnetprofittz, compensate_expense, jzc, jzb, bldkbbl, newcapitalader, xsjxlyysr, yyfxzb, zcfzltz, nbv_rate, roejqtz, djd_deductdpnp_yoy, bpstz, roic, roictz, report_year, mgjyxjjetz, djd_dpnp_yoy, mgzbgjtz, zzcjlltz, djd_dpnp_qoq, mgwfplrtz, djd_deductdpnp_qoq, nbv_life, nhjz_current_amt, djd_toi_qoq, djd_toi_yoy from inv_finance_zyzb_year
    </sql>

    <select id="selectInvFinanceZyzbYearList" parameterType="InvFinanceZyzbYear" resultMap="InvFinanceZyzbYearResult">
        <include refid="selectInvFinanceZyzbYearVo"/>
        <where>  
            <if test="securityCode != null  and securityCode != ''"> and security_code = #{securityCode}</if>
            <if test="reportDate != null "> and report_date = #{reportDate}</if>
            <if test="noticeDate != null "> and notice_date = #{noticeDate}</if>
            <if test="updateDate != null "> and update_date = #{updateDate}</if>
            <if test="mgwfplr != null "> and mgwfplr = #{mgwfplr}</if>
            <if test="mgjyxjje != null "> and mgjyxjje = #{mgjyxjje}</if>
            <if test="epsxs != null "> and epsxs = #{epsxs}</if>
            <if test="epskcjb != null "> and epskcjb = #{epskcjb}</if>
            <if test="mgzbgj != null "> and mgzbgj = #{mgzbgj}</if>
            <if test="bps != null "> and bps = #{bps}</if>
            <if test="epsjb != null "> and epsjb = #{epsjb}</if>
            <if test="yyzsrgdhbzc != null "> and yyzsrgdhbzc = #{yyzsrgdhbzc}</if>
            <if test="totaloperatereve != null "> and totaloperatereve = #{totaloperatereve}</if>
            <if test="kfjlrgdhbzc != null "> and kfjlrgdhbzc = #{kfjlrgdhbzc}</if>
            <if test="kcfjcxsyjlr != null "> and kcfjcxsyjlr = #{kcfjcxsyjlr}</if>
            <if test="epsjbtz != null "> and epsjbtz = #{epsjbtz}</if>
            <if test="kcfjcxsyjlrtz != null "> and kcfjcxsyjlrtz = #{kcfjcxsyjlrtz}</if>
            <if test="parentnetprofit != null "> and parentnetprofit = #{parentnetprofit}</if>
            <if test="netprofitrphbzc != null "> and netprofitrphbzc = #{netprofitrphbzc}</if>
            <if test="totaloperaterevetz != null "> and totaloperaterevetz = #{totaloperaterevetz}</if>
            <if test="roekcjq != null "> and roekcjq = #{roekcjq}</if>
            <if test="zzcjll != null "> and zzcjll = #{zzcjll}</if>
            <if test="roejq != null "> and roejq = #{roejq}</if>
            <if test="xsmll != null "> and xsmll = #{xsmll}</if>
            <if test="xsjll != null "> and xsjll = #{xsjll}</if>
            <if test="cqbl != null "> and cqbl = #{cqbl}</if>
            <if test="zcfzl != null "> and zcfzl = #{zcfzl}</if>
            <if test="qycs != null "> and qycs = #{qycs}</if>
            <if test="sd != null "> and sd = #{sd}</if>
            <if test="xjllb != null "> and xjllb = #{xjllb}</if>
            <if test="ld != null "> and ld = #{ld}</if>
            <if test="zzczzts != null "> and zzczzts = #{zzczzts}</if>
            <if test="yszkzzl != null "> and yszkzzl = #{yszkzzl}</if>
            <if test="yszkzzts != null "> and yszkzzts = #{yszkzzts}</if>
            <if test="chzzts != null "> and chzzts = #{chzzts}</if>
            <if test="chzzl != null "> and chzzl = #{chzzl}</if>
            <if test="toazzl != null "> and toazzl = #{toazzl}</if>
            <if test="yszkyysr != null "> and yszkyysr = #{yszkyysr}</if>
            <if test="rzrqywfxzb != null "> and rzrqywfxzb = #{rzrqywfxzb}</if>
            <if test="zygdsylzqjzb != null "> and zygdsylzqjzb = #{zygdsylzqjzb}</if>
            <if test="totaldeposits != null "> and totaldeposits = #{totaldeposits}</if>
            <if test="mlr != null "> and mlr = #{mlr}</if>
            <if test="earnedPremium != null "> and earned_premium = #{earnedPremium}</if>
            <if test="jzbjzc != null "> and jzbjzc = #{jzbjzc}</if>
            <if test="taxrate != null "> and taxrate = #{taxrate}</if>
            <if test="zygpgmjzc != null "> and zygpgmjzc = #{zygpgmjzc}</if>
            <if test="ltdrr != null "> and ltdrr = #{ltdrr}</if>
            <if test="solvencyAr != null "> and solvency_ar = #{solvencyAr}</if>
            <if test="jjywfxzb != null "> and jjywfxzb = #{jjywfxzb}</if>
            <if test="zqzyywfxzb != null "> and zqzyywfxzb = #{zqzyywfxzb}</if>
            <if test="surrenderRateLife != null "> and surrender_rate_life = #{surrenderRateLife}</if>
            <if test="jyxjlyysr != null "> and jyxjlyysr = #{jyxjlyysr}</if>
            <if test="nzbje != null "> and nzbje = #{nzbje}</if>
            <if test="nonperloan != null "> and nonperloan = #{nonperloan}</if>
            <if test="totalRoi != null "> and total_roi = #{totalRoi}</if>
            <if test="zqcxywfxzb != null "> and zqcxywfxzb = #{zqcxywfxzb}</if>
            <if test="netRoi != null "> and net_roi = #{netRoi}</if>
            <if test="grossloans != null "> and grossloans = #{grossloans}</if>
            <if test="hxyjbczl != null "> and hxyjbczl = #{hxyjbczl}</if>
            <if test="parentnetprofittz != null "> and parentnetprofittz = #{parentnetprofittz}</if>
            <if test="compensateExpense != null "> and compensate_expense = #{compensateExpense}</if>
            <if test="jzc != null "> and jzc = #{jzc}</if>
            <if test="jzb != null "> and jzb = #{jzb}</if>
            <if test="bldkbbl != null "> and bldkbbl = #{bldkbbl}</if>
            <if test="newcapitalader != null "> and newcapitalader = #{newcapitalader}</if>
            <if test="xsjxlyysr != null "> and xsjxlyysr = #{xsjxlyysr}</if>
            <if test="yyfxzb != null "> and yyfxzb = #{yyfxzb}</if>
            <if test="zcfzltz != null "> and zcfzltz = #{zcfzltz}</if>
            <if test="nbvRate != null "> and nbv_rate = #{nbvRate}</if>
            <if test="roejqtz != null "> and roejqtz = #{roejqtz}</if>
            <if test="djdDeductdpnpYoy != null "> and djd_deductdpnp_yoy = #{djdDeductdpnpYoy}</if>
            <if test="bpstz != null "> and bpstz = #{bpstz}</if>
            <if test="roic != null "> and roic = #{roic}</if>
            <if test="roictz != null "> and roictz = #{roictz}</if>
            <if test="reportYear != null "> and report_year = #{reportYear}</if>
            <if test="mgjyxjjetz != null "> and mgjyxjjetz = #{mgjyxjjetz}</if>
            <if test="djdDpnpYoy != null "> and djd_dpnp_yoy = #{djdDpnpYoy}</if>
            <if test="mgzbgjtz != null "> and mgzbgjtz = #{mgzbgjtz}</if>
            <if test="zzcjlltz != null "> and zzcjlltz = #{zzcjlltz}</if>
            <if test="djdDpnpQoq != null "> and djd_dpnp_qoq = #{djdDpnpQoq}</if>
            <if test="mgwfplrtz != null "> and mgwfplrtz = #{mgwfplrtz}</if>
            <if test="djdDeductdpnpQoq != null "> and djd_deductdpnp_qoq = #{djdDeductdpnpQoq}</if>
            <if test="nbvLife != null "> and nbv_life = #{nbvLife}</if>
            <if test="nhjzCurrentAmt != null "> and nhjz_current_amt = #{nhjzCurrentAmt}</if>
            <if test="djdToiQoq != null "> and djd_toi_qoq = #{djdToiQoq}</if>
            <if test="djdToiYoy != null "> and djd_toi_yoy = #{djdToiYoy}</if>
        </where>
    </select>
    
    <select id="selectInvFinanceZyzbYearById" parameterType="Long" resultMap="InvFinanceZyzbYearResult">
        <include refid="selectInvFinanceZyzbYearVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertInvFinanceZyzbYear" parameterType="InvFinanceZyzbYear" useGeneratedKeys="true" keyProperty="id">
        insert into inv_finance_zyzb_year
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="securityCode != null and securityCode != ''">security_code,</if>
            <if test="reportDate != null">report_date,</if>
            <if test="noticeDate != null">notice_date,</if>
            <if test="updateDate != null">update_date,</if>
            <if test="mgwfplr != null">mgwfplr,</if>
            <if test="mgjyxjje != null">mgjyxjje,</if>
            <if test="epsxs != null">epsxs,</if>
            <if test="epskcjb != null">epskcjb,</if>
            <if test="mgzbgj != null">mgzbgj,</if>
            <if test="bps != null">bps,</if>
            <if test="epsjb != null">epsjb,</if>
            <if test="yyzsrgdhbzc != null">yyzsrgdhbzc,</if>
            <if test="totaloperatereve != null">totaloperatereve,</if>
            <if test="kfjlrgdhbzc != null">kfjlrgdhbzc,</if>
            <if test="kcfjcxsyjlr != null">kcfjcxsyjlr,</if>
            <if test="epsjbtz != null">epsjbtz,</if>
            <if test="kcfjcxsyjlrtz != null">kcfjcxsyjlrtz,</if>
            <if test="parentnetprofit != null">parentnetprofit,</if>
            <if test="netprofitrphbzc != null">netprofitrphbzc,</if>
            <if test="totaloperaterevetz != null">totaloperaterevetz,</if>
            <if test="roekcjq != null">roekcjq,</if>
            <if test="zzcjll != null">zzcjll,</if>
            <if test="roejq != null">roejq,</if>
            <if test="xsmll != null">xsmll,</if>
            <if test="xsjll != null">xsjll,</if>
            <if test="cqbl != null">cqbl,</if>
            <if test="zcfzl != null">zcfzl,</if>
            <if test="qycs != null">qycs,</if>
            <if test="sd != null">sd,</if>
            <if test="xjllb != null">xjllb,</if>
            <if test="ld != null">ld,</if>
            <if test="zzczzts != null">zzczzts,</if>
            <if test="yszkzzl != null">yszkzzl,</if>
            <if test="yszkzzts != null">yszkzzts,</if>
            <if test="chzzts != null">chzzts,</if>
            <if test="chzzl != null">chzzl,</if>
            <if test="toazzl != null">toazzl,</if>
            <if test="yszkyysr != null">yszkyysr,</if>
            <if test="rzrqywfxzb != null">rzrqywfxzb,</if>
            <if test="zygdsylzqjzb != null">zygdsylzqjzb,</if>
            <if test="totaldeposits != null">totaldeposits,</if>
            <if test="mlr != null">mlr,</if>
            <if test="earnedPremium != null">earned_premium,</if>
            <if test="jzbjzc != null">jzbjzc,</if>
            <if test="taxrate != null">taxrate,</if>
            <if test="zygpgmjzc != null">zygpgmjzc,</if>
            <if test="ltdrr != null">ltdrr,</if>
            <if test="solvencyAr != null">solvency_ar,</if>
            <if test="jjywfxzb != null">jjywfxzb,</if>
            <if test="zqzyywfxzb != null">zqzyywfxzb,</if>
            <if test="surrenderRateLife != null">surrender_rate_life,</if>
            <if test="jyxjlyysr != null">jyxjlyysr,</if>
            <if test="nzbje != null">nzbje,</if>
            <if test="nonperloan != null">nonperloan,</if>
            <if test="totalRoi != null">total_roi,</if>
            <if test="zqcxywfxzb != null">zqcxywfxzb,</if>
            <if test="netRoi != null">net_roi,</if>
            <if test="grossloans != null">grossloans,</if>
            <if test="hxyjbczl != null">hxyjbczl,</if>
            <if test="parentnetprofittz != null">parentnetprofittz,</if>
            <if test="compensateExpense != null">compensate_expense,</if>
            <if test="jzc != null">jzc,</if>
            <if test="jzb != null">jzb,</if>
            <if test="bldkbbl != null">bldkbbl,</if>
            <if test="newcapitalader != null">newcapitalader,</if>
            <if test="xsjxlyysr != null">xsjxlyysr,</if>
            <if test="yyfxzb != null">yyfxzb,</if>
            <if test="zcfzltz != null">zcfzltz,</if>
            <if test="nbvRate != null">nbv_rate,</if>
            <if test="roejqtz != null">roejqtz,</if>
            <if test="djdDeductdpnpYoy != null">djd_deductdpnp_yoy,</if>
            <if test="bpstz != null">bpstz,</if>
            <if test="roic != null">roic,</if>
            <if test="roictz != null">roictz,</if>
            <if test="reportYear != null">report_year,</if>
            <if test="mgjyxjjetz != null">mgjyxjjetz,</if>
            <if test="djdDpnpYoy != null">djd_dpnp_yoy,</if>
            <if test="mgzbgjtz != null">mgzbgjtz,</if>
            <if test="zzcjlltz != null">zzcjlltz,</if>
            <if test="djdDpnpQoq != null">djd_dpnp_qoq,</if>
            <if test="mgwfplrtz != null">mgwfplrtz,</if>
            <if test="djdDeductdpnpQoq != null">djd_deductdpnp_qoq,</if>
            <if test="nbvLife != null">nbv_life,</if>
            <if test="nhjzCurrentAmt != null">nhjz_current_amt,</if>
            <if test="djdToiQoq != null">djd_toi_qoq,</if>
            <if test="djdToiYoy != null">djd_toi_yoy,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="securityCode != null and securityCode != ''">#{securityCode},</if>
            <if test="reportDate != null">#{reportDate},</if>
            <if test="noticeDate != null">#{noticeDate},</if>
            <if test="updateDate != null">#{updateDate},</if>
            <if test="mgwfplr != null">#{mgwfplr},</if>
            <if test="mgjyxjje != null">#{mgjyxjje},</if>
            <if test="epsxs != null">#{epsxs},</if>
            <if test="epskcjb != null">#{epskcjb},</if>
            <if test="mgzbgj != null">#{mgzbgj},</if>
            <if test="bps != null">#{bps},</if>
            <if test="epsjb != null">#{epsjb},</if>
            <if test="yyzsrgdhbzc != null">#{yyzsrgdhbzc},</if>
            <if test="totaloperatereve != null">#{totaloperatereve},</if>
            <if test="kfjlrgdhbzc != null">#{kfjlrgdhbzc},</if>
            <if test="kcfjcxsyjlr != null">#{kcfjcxsyjlr},</if>
            <if test="epsjbtz != null">#{epsjbtz},</if>
            <if test="kcfjcxsyjlrtz != null">#{kcfjcxsyjlrtz},</if>
            <if test="parentnetprofit != null">#{parentnetprofit},</if>
            <if test="netprofitrphbzc != null">#{netprofitrphbzc},</if>
            <if test="totaloperaterevetz != null">#{totaloperaterevetz},</if>
            <if test="roekcjq != null">#{roekcjq},</if>
            <if test="zzcjll != null">#{zzcjll},</if>
            <if test="roejq != null">#{roejq},</if>
            <if test="xsmll != null">#{xsmll},</if>
            <if test="xsjll != null">#{xsjll},</if>
            <if test="cqbl != null">#{cqbl},</if>
            <if test="zcfzl != null">#{zcfzl},</if>
            <if test="qycs != null">#{qycs},</if>
            <if test="sd != null">#{sd},</if>
            <if test="xjllb != null">#{xjllb},</if>
            <if test="ld != null">#{ld},</if>
            <if test="zzczzts != null">#{zzczzts},</if>
            <if test="yszkzzl != null">#{yszkzzl},</if>
            <if test="yszkzzts != null">#{yszkzzts},</if>
            <if test="chzzts != null">#{chzzts},</if>
            <if test="chzzl != null">#{chzzl},</if>
            <if test="toazzl != null">#{toazzl},</if>
            <if test="yszkyysr != null">#{yszkyysr},</if>
            <if test="rzrqywfxzb != null">#{rzrqywfxzb},</if>
            <if test="zygdsylzqjzb != null">#{zygdsylzqjzb},</if>
            <if test="totaldeposits != null">#{totaldeposits},</if>
            <if test="mlr != null">#{mlr},</if>
            <if test="earnedPremium != null">#{earnedPremium},</if>
            <if test="jzbjzc != null">#{jzbjzc},</if>
            <if test="taxrate != null">#{taxrate},</if>
            <if test="zygpgmjzc != null">#{zygpgmjzc},</if>
            <if test="ltdrr != null">#{ltdrr},</if>
            <if test="solvencyAr != null">#{solvencyAr},</if>
            <if test="jjywfxzb != null">#{jjywfxzb},</if>
            <if test="zqzyywfxzb != null">#{zqzyywfxzb},</if>
            <if test="surrenderRateLife != null">#{surrenderRateLife},</if>
            <if test="jyxjlyysr != null">#{jyxjlyysr},</if>
            <if test="nzbje != null">#{nzbje},</if>
            <if test="nonperloan != null">#{nonperloan},</if>
            <if test="totalRoi != null">#{totalRoi},</if>
            <if test="zqcxywfxzb != null">#{zqcxywfxzb},</if>
            <if test="netRoi != null">#{netRoi},</if>
            <if test="grossloans != null">#{grossloans},</if>
            <if test="hxyjbczl != null">#{hxyjbczl},</if>
            <if test="parentnetprofittz != null">#{parentnetprofittz},</if>
            <if test="compensateExpense != null">#{compensateExpense},</if>
            <if test="jzc != null">#{jzc},</if>
            <if test="jzb != null">#{jzb},</if>
            <if test="bldkbbl != null">#{bldkbbl},</if>
            <if test="newcapitalader != null">#{newcapitalader},</if>
            <if test="xsjxlyysr != null">#{xsjxlyysr},</if>
            <if test="yyfxzb != null">#{yyfxzb},</if>
            <if test="zcfzltz != null">#{zcfzltz},</if>
            <if test="nbvRate != null">#{nbvRate},</if>
            <if test="roejqtz != null">#{roejqtz},</if>
            <if test="djdDeductdpnpYoy != null">#{djdDeductdpnpYoy},</if>
            <if test="bpstz != null">#{bpstz},</if>
            <if test="roic != null">#{roic},</if>
            <if test="roictz != null">#{roictz},</if>
            <if test="reportYear != null">#{reportYear},</if>
            <if test="mgjyxjjetz != null">#{mgjyxjjetz},</if>
            <if test="djdDpnpYoy != null">#{djdDpnpYoy},</if>
            <if test="mgzbgjtz != null">#{mgzbgjtz},</if>
            <if test="zzcjlltz != null">#{zzcjlltz},</if>
            <if test="djdDpnpQoq != null">#{djdDpnpQoq},</if>
            <if test="mgwfplrtz != null">#{mgwfplrtz},</if>
            <if test="djdDeductdpnpQoq != null">#{djdDeductdpnpQoq},</if>
            <if test="nbvLife != null">#{nbvLife},</if>
            <if test="nhjzCurrentAmt != null">#{nhjzCurrentAmt},</if>
            <if test="djdToiQoq != null">#{djdToiQoq},</if>
            <if test="djdToiYoy != null">#{djdToiYoy},</if>
         </trim>
    </insert>

    <update id="updateInvFinanceZyzbYear" parameterType="InvFinanceZyzbYear">
        update inv_finance_zyzb_year
        <trim prefix="SET" suffixOverrides=",">
            <if test="securityCode != null and securityCode != ''">security_code = #{securityCode},</if>
            <if test="reportDate != null">report_date = #{reportDate},</if>
            <if test="noticeDate != null">notice_date = #{noticeDate},</if>
            <if test="updateDate != null">update_date = #{updateDate},</if>
            <if test="mgwfplr != null">mgwfplr = #{mgwfplr},</if>
            <if test="mgjyxjje != null">mgjyxjje = #{mgjyxjje},</if>
            <if test="epsxs != null">epsxs = #{epsxs},</if>
            <if test="epskcjb != null">epskcjb = #{epskcjb},</if>
            <if test="mgzbgj != null">mgzbgj = #{mgzbgj},</if>
            <if test="bps != null">bps = #{bps},</if>
            <if test="epsjb != null">epsjb = #{epsjb},</if>
            <if test="yyzsrgdhbzc != null">yyzsrgdhbzc = #{yyzsrgdhbzc},</if>
            <if test="totaloperatereve != null">totaloperatereve = #{totaloperatereve},</if>
            <if test="kfjlrgdhbzc != null">kfjlrgdhbzc = #{kfjlrgdhbzc},</if>
            <if test="kcfjcxsyjlr != null">kcfjcxsyjlr = #{kcfjcxsyjlr},</if>
            <if test="epsjbtz != null">epsjbtz = #{epsjbtz},</if>
            <if test="kcfjcxsyjlrtz != null">kcfjcxsyjlrtz = #{kcfjcxsyjlrtz},</if>
            <if test="parentnetprofit != null">parentnetprofit = #{parentnetprofit},</if>
            <if test="netprofitrphbzc != null">netprofitrphbzc = #{netprofitrphbzc},</if>
            <if test="totaloperaterevetz != null">totaloperaterevetz = #{totaloperaterevetz},</if>
            <if test="roekcjq != null">roekcjq = #{roekcjq},</if>
            <if test="zzcjll != null">zzcjll = #{zzcjll},</if>
            <if test="roejq != null">roejq = #{roejq},</if>
            <if test="xsmll != null">xsmll = #{xsmll},</if>
            <if test="xsjll != null">xsjll = #{xsjll},</if>
            <if test="cqbl != null">cqbl = #{cqbl},</if>
            <if test="zcfzl != null">zcfzl = #{zcfzl},</if>
            <if test="qycs != null">qycs = #{qycs},</if>
            <if test="sd != null">sd = #{sd},</if>
            <if test="xjllb != null">xjllb = #{xjllb},</if>
            <if test="ld != null">ld = #{ld},</if>
            <if test="zzczzts != null">zzczzts = #{zzczzts},</if>
            <if test="yszkzzl != null">yszkzzl = #{yszkzzl},</if>
            <if test="yszkzzts != null">yszkzzts = #{yszkzzts},</if>
            <if test="chzzts != null">chzzts = #{chzzts},</if>
            <if test="chzzl != null">chzzl = #{chzzl},</if>
            <if test="toazzl != null">toazzl = #{toazzl},</if>
            <if test="yszkyysr != null">yszkyysr = #{yszkyysr},</if>
            <if test="rzrqywfxzb != null">rzrqywfxzb = #{rzrqywfxzb},</if>
            <if test="zygdsylzqjzb != null">zygdsylzqjzb = #{zygdsylzqjzb},</if>
            <if test="totaldeposits != null">totaldeposits = #{totaldeposits},</if>
            <if test="mlr != null">mlr = #{mlr},</if>
            <if test="earnedPremium != null">earned_premium = #{earnedPremium},</if>
            <if test="jzbjzc != null">jzbjzc = #{jzbjzc},</if>
            <if test="taxrate != null">taxrate = #{taxrate},</if>
            <if test="zygpgmjzc != null">zygpgmjzc = #{zygpgmjzc},</if>
            <if test="ltdrr != null">ltdrr = #{ltdrr},</if>
            <if test="solvencyAr != null">solvency_ar = #{solvencyAr},</if>
            <if test="jjywfxzb != null">jjywfxzb = #{jjywfxzb},</if>
            <if test="zqzyywfxzb != null">zqzyywfxzb = #{zqzyywfxzb},</if>
            <if test="surrenderRateLife != null">surrender_rate_life = #{surrenderRateLife},</if>
            <if test="jyxjlyysr != null">jyxjlyysr = #{jyxjlyysr},</if>
            <if test="nzbje != null">nzbje = #{nzbje},</if>
            <if test="nonperloan != null">nonperloan = #{nonperloan},</if>
            <if test="totalRoi != null">total_roi = #{totalRoi},</if>
            <if test="zqcxywfxzb != null">zqcxywfxzb = #{zqcxywfxzb},</if>
            <if test="netRoi != null">net_roi = #{netRoi},</if>
            <if test="grossloans != null">grossloans = #{grossloans},</if>
            <if test="hxyjbczl != null">hxyjbczl = #{hxyjbczl},</if>
            <if test="parentnetprofittz != null">parentnetprofittz = #{parentnetprofittz},</if>
            <if test="compensateExpense != null">compensate_expense = #{compensateExpense},</if>
            <if test="jzc != null">jzc = #{jzc},</if>
            <if test="jzb != null">jzb = #{jzb},</if>
            <if test="bldkbbl != null">bldkbbl = #{bldkbbl},</if>
            <if test="newcapitalader != null">newcapitalader = #{newcapitalader},</if>
            <if test="xsjxlyysr != null">xsjxlyysr = #{xsjxlyysr},</if>
            <if test="yyfxzb != null">yyfxzb = #{yyfxzb},</if>
            <if test="zcfzltz != null">zcfzltz = #{zcfzltz},</if>
            <if test="nbvRate != null">nbv_rate = #{nbvRate},</if>
            <if test="roejqtz != null">roejqtz = #{roejqtz},</if>
            <if test="djdDeductdpnpYoy != null">djd_deductdpnp_yoy = #{djdDeductdpnpYoy},</if>
            <if test="bpstz != null">bpstz = #{bpstz},</if>
            <if test="roic != null">roic = #{roic},</if>
            <if test="roictz != null">roictz = #{roictz},</if>
            <if test="reportYear != null">report_year = #{reportYear},</if>
            <if test="mgjyxjjetz != null">mgjyxjjetz = #{mgjyxjjetz},</if>
            <if test="djdDpnpYoy != null">djd_dpnp_yoy = #{djdDpnpYoy},</if>
            <if test="mgzbgjtz != null">mgzbgjtz = #{mgzbgjtz},</if>
            <if test="zzcjlltz != null">zzcjlltz = #{zzcjlltz},</if>
            <if test="djdDpnpQoq != null">djd_dpnp_qoq = #{djdDpnpQoq},</if>
            <if test="mgwfplrtz != null">mgwfplrtz = #{mgwfplrtz},</if>
            <if test="djdDeductdpnpQoq != null">djd_deductdpnp_qoq = #{djdDeductdpnpQoq},</if>
            <if test="nbvLife != null">nbv_life = #{nbvLife},</if>
            <if test="nhjzCurrentAmt != null">nhjz_current_amt = #{nhjzCurrentAmt},</if>
            <if test="djdToiQoq != null">djd_toi_qoq = #{djdToiQoq},</if>
            <if test="djdToiYoy != null">djd_toi_yoy = #{djdToiYoy},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteInvFinanceZyzbYearById" parameterType="Long">
        delete from inv_finance_zyzb_year where id = #{id}
    </delete>

    <delete id="deleteInvFinanceZyzbYearByIds" parameterType="String">
        delete from inv_finance_zyzb_year where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>