<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.investment.finance.mapper.InvFinanceZyzbJdMapper">
    
    <resultMap type="InvFinanceZyzbJd" id="InvFinanceZyzbJdResult">
        <result property="id"    column="id"    />
        <result property="securityCode"    column="security_code"    />
        <result property="reportDate"    column="report_date"    />
        <result property="perCapitalReserve"    column="per_capital_reserve"    />
        <result property="perNetcash"    column="per_netcash"    />
        <result property="perUnassignProfit"    column="per_unassign_profit"    />
        <result property="netProfitRatio"    column="net_profit_ratio"    />
        <result property="kfjlrgdhbzc"    column="kfjlrgdhbzc"    />
        <result property="epsjb"    column="epsjb"    />
        <result property="yyzsrgdhbzc"    column="yyzsrgdhbzc"    />
        <result property="bps"    column="bps"    />
        <result property="totaloperatereve"    column="totaloperatereve"    />
        <result property="grossProfit"    column="gross_profit"    />
        <result property="parentnetprofit"    column="parentnetprofit"    />
        <result property="netprofitrphbzc"    column="netprofitrphbzc"    />
        <result property="parentnetprofittz"    column="parentnetprofittz"    />
        <result property="deduParentProfit"    column="dedu_parent_profit"    />
        <result property="totaloperaterevetz"    column="totaloperaterevetz"    />
        <result property="dpnpYoyRatio"    column="dpnp_yoy_ratio"    />
        <result property="roeDiluted"    column="roe_diluted"    />
        <result property="jroa"    column="jroa"    />
    </resultMap>

    <sql id="selectInvFinanceZyzbJdVo">
        select id, security_code, report_date, per_capital_reserve, per_netcash, per_unassign_profit, net_profit_ratio, kfjlrgdhbzc, epsjb, yyzsrgdhbzc, bps, totaloperatereve, gross_profit, parentnetprofit, netprofitrphbzc, parentnetprofittz, dedu_parent_profit, totaloperaterevetz, dpnp_yoy_ratio, roe_diluted, jroa from inv_finance_zyzb_jd
    </sql>

    <select id="selectInvFinanceZyzbJdList" parameterType="InvFinanceZyzbJd" resultMap="InvFinanceZyzbJdResult">
        <include refid="selectInvFinanceZyzbJdVo"/>
        <where>  
            <if test="securityCode != null  and securityCode != ''"> and security_code = #{securityCode}</if>
            <if test="reportDate != null "> and report_date = #{reportDate}</if>
            <if test="perCapitalReserve != null "> and per_capital_reserve = #{perCapitalReserve}</if>
            <if test="perNetcash != null "> and per_netcash = #{perNetcash}</if>
            <if test="perUnassignProfit != null "> and per_unassign_profit = #{perUnassignProfit}</if>
            <if test="netProfitRatio != null "> and net_profit_ratio = #{netProfitRatio}</if>
            <if test="kfjlrgdhbzc != null "> and kfjlrgdhbzc = #{kfjlrgdhbzc}</if>
            <if test="epsjb != null "> and epsjb = #{epsjb}</if>
            <if test="yyzsrgdhbzc != null "> and yyzsrgdhbzc = #{yyzsrgdhbzc}</if>
            <if test="bps != null "> and bps = #{bps}</if>
            <if test="totaloperatereve != null "> and totaloperatereve = #{totaloperatereve}</if>
            <if test="grossProfit != null "> and gross_profit = #{grossProfit}</if>
            <if test="parentnetprofit != null "> and parentnetprofit = #{parentnetprofit}</if>
            <if test="netprofitrphbzc != null "> and netprofitrphbzc = #{netprofitrphbzc}</if>
            <if test="parentnetprofittz != null "> and parentnetprofittz = #{parentnetprofittz}</if>
            <if test="deduParentProfit != null "> and dedu_parent_profit = #{deduParentProfit}</if>
            <if test="totaloperaterevetz != null "> and totaloperaterevetz = #{totaloperaterevetz}</if>
            <if test="dpnpYoyRatio != null "> and dpnp_yoy_ratio = #{dpnpYoyRatio}</if>
            <if test="roeDiluted != null "> and roe_diluted = #{roeDiluted}</if>
            <if test="jroa != null "> and jroa = #{jroa}</if>
        </where>
    </select>
    
    <select id="selectInvFinanceZyzbJdById" parameterType="Long" resultMap="InvFinanceZyzbJdResult">
        <include refid="selectInvFinanceZyzbJdVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertInvFinanceZyzbJd" parameterType="InvFinanceZyzbJd" useGeneratedKeys="true" keyProperty="id">
        insert into inv_finance_zyzb_jd
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="securityCode != null and securityCode != ''">security_code,</if>
            <if test="reportDate != null">report_date,</if>
            <if test="perCapitalReserve != null">per_capital_reserve,</if>
            <if test="perNetcash != null">per_netcash,</if>
            <if test="perUnassignProfit != null">per_unassign_profit,</if>
            <if test="netProfitRatio != null">net_profit_ratio,</if>
            <if test="kfjlrgdhbzc != null">kfjlrgdhbzc,</if>
            <if test="epsjb != null">epsjb,</if>
            <if test="yyzsrgdhbzc != null">yyzsrgdhbzc,</if>
            <if test="bps != null">bps,</if>
            <if test="totaloperatereve != null">totaloperatereve,</if>
            <if test="grossProfit != null">gross_profit,</if>
            <if test="parentnetprofit != null">parentnetprofit,</if>
            <if test="netprofitrphbzc != null">netprofitrphbzc,</if>
            <if test="parentnetprofittz != null">parentnetprofittz,</if>
            <if test="deduParentProfit != null">dedu_parent_profit,</if>
            <if test="totaloperaterevetz != null">totaloperaterevetz,</if>
            <if test="dpnpYoyRatio != null">dpnp_yoy_ratio,</if>
            <if test="roeDiluted != null">roe_diluted,</if>
            <if test="jroa != null">jroa,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="securityCode != null and securityCode != ''">#{securityCode},</if>
            <if test="reportDate != null">#{reportDate},</if>
            <if test="perCapitalReserve != null">#{perCapitalReserve},</if>
            <if test="perNetcash != null">#{perNetcash},</if>
            <if test="perUnassignProfit != null">#{perUnassignProfit},</if>
            <if test="netProfitRatio != null">#{netProfitRatio},</if>
            <if test="kfjlrgdhbzc != null">#{kfjlrgdhbzc},</if>
            <if test="epsjb != null">#{epsjb},</if>
            <if test="yyzsrgdhbzc != null">#{yyzsrgdhbzc},</if>
            <if test="bps != null">#{bps},</if>
            <if test="totaloperatereve != null">#{totaloperatereve},</if>
            <if test="grossProfit != null">#{grossProfit},</if>
            <if test="parentnetprofit != null">#{parentnetprofit},</if>
            <if test="netprofitrphbzc != null">#{netprofitrphbzc},</if>
            <if test="parentnetprofittz != null">#{parentnetprofittz},</if>
            <if test="deduParentProfit != null">#{deduParentProfit},</if>
            <if test="totaloperaterevetz != null">#{totaloperaterevetz},</if>
            <if test="dpnpYoyRatio != null">#{dpnpYoyRatio},</if>
            <if test="roeDiluted != null">#{roeDiluted},</if>
            <if test="jroa != null">#{jroa},</if>
         </trim>
    </insert>

    <update id="updateInvFinanceZyzbJd" parameterType="InvFinanceZyzbJd">
        update inv_finance_zyzb_jd
        <trim prefix="SET" suffixOverrides=",">
            <if test="securityCode != null and securityCode != ''">security_code = #{securityCode},</if>
            <if test="reportDate != null">report_date = #{reportDate},</if>
            <if test="perCapitalReserve != null">per_capital_reserve = #{perCapitalReserve},</if>
            <if test="perNetcash != null">per_netcash = #{perNetcash},</if>
            <if test="perUnassignProfit != null">per_unassign_profit = #{perUnassignProfit},</if>
            <if test="netProfitRatio != null">net_profit_ratio = #{netProfitRatio},</if>
            <if test="kfjlrgdhbzc != null">kfjlrgdhbzc = #{kfjlrgdhbzc},</if>
            <if test="epsjb != null">epsjb = #{epsjb},</if>
            <if test="yyzsrgdhbzc != null">yyzsrgdhbzc = #{yyzsrgdhbzc},</if>
            <if test="bps != null">bps = #{bps},</if>
            <if test="totaloperatereve != null">totaloperatereve = #{totaloperatereve},</if>
            <if test="grossProfit != null">gross_profit = #{grossProfit},</if>
            <if test="parentnetprofit != null">parentnetprofit = #{parentnetprofit},</if>
            <if test="netprofitrphbzc != null">netprofitrphbzc = #{netprofitrphbzc},</if>
            <if test="parentnetprofittz != null">parentnetprofittz = #{parentnetprofittz},</if>
            <if test="deduParentProfit != null">dedu_parent_profit = #{deduParentProfit},</if>
            <if test="totaloperaterevetz != null">totaloperaterevetz = #{totaloperaterevetz},</if>
            <if test="dpnpYoyRatio != null">dpnp_yoy_ratio = #{dpnpYoyRatio},</if>
            <if test="roeDiluted != null">roe_diluted = #{roeDiluted},</if>
            <if test="jroa != null">jroa = #{jroa},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteInvFinanceZyzbJdById" parameterType="Long">
        delete from inv_finance_zyzb_jd where id = #{id}
    </delete>

    <delete id="deleteInvFinanceZyzbJdByIds" parameterType="String">
        delete from inv_finance_zyzb_jd where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>