<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.investment.mapper.InvInterfaceMapper">
    
    <resultMap type="InvInterface" id="InvInterfaceResult">
        <result property="id"    column="id"    />
        <result property="interfaceCode"    column="interface_code"    />
        <result property="interfaceName"    column="interface_name"    />
        <result property="interfaceType"    column="interface_type"    />
        <result property="interfaceUrl"    column="interface_url"    />
        <result property="interfaceUrlMarketFlag"    column="interface_url_market_flag"    />
        <result property="interfaceUrlCodeFlag"    column="interface_url_code_flag"    />
        <result property="htmlUrl"    column="html_url"    />
        <result property="htmlUrlMarketFlag"    column="html_url_market_flag"    />
        <result property="htmlUrlCodeFlag"    column="html_url_code_flag"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectInvInterfaceVo">
        select id, interface_code, interface_name, interface_type, interface_url, interface_url_market_flag, interface_url_code_flag, html_url, html_url_market_flag, html_url_code_flag, remark from inv_interface
    </sql>

    <select id="selectInvInterfaceList" parameterType="InvInterface" resultMap="InvInterfaceResult">
        <include refid="selectInvInterfaceVo"/>
        <where>  
            <if test="interfaceCode != null  and interfaceCode != ''"> and interface_code = #{interfaceCode}</if>
            <if test="interfaceName != null  and interfaceName != ''"> and interface_name like concat('%', #{interfaceName}, '%')</if>
        </where>
    </select>
    
    <select id="selectInvInterfaceById" parameterType="Long" resultMap="InvInterfaceResult">
        <include refid="selectInvInterfaceVo"/>
        where id = #{id}
    </select>

    <select id="selectInvInterfaceByCode" parameterType="String" resultMap="InvInterfaceResult">
        <include refid="selectInvInterfaceVo"/>
        where code = #{code}
    </select>

    <insert id="insertInvInterface" parameterType="InvInterface" useGeneratedKeys="true" keyProperty="id">
        insert into inv_interface
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="interfaceCode != null and interfaceCode != ''">interface_code,</if>
            <if test="interfaceName != null and interfaceName != ''">interface_name,</if>
            <if test="interfaceType != null and interfaceType != ''">interface_type,</if>
            <if test="interfaceUrl != null and interfaceUrl != ''">interface_url,</if>
            <if test="interfaceUrlMarketFlag != null and interfaceUrlMarketFlag != ''">interface_url_market_flag,</if>
            <if test="interfaceUrlCodeFlag != null and interfaceUrlCodeFlag != ''">interface_url_code_flag,</if>
            <if test="htmlUrl != null">html_url,</if>
            <if test="htmlUrlMarketFlag != null">html_url_market_flag,</if>
            <if test="htmlUrlCodeFlag != null">html_url_code_flag,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="interfaceCode != null and interfaceCode != ''">#{interfaceCode},</if>
            <if test="interfaceName != null and interfaceName != ''">#{interfaceName},</if>
            <if test="interfaceType != null and interfaceType != ''">#{interfaceType},</if>
            <if test="interfaceUrl != null and interfaceUrl != ''">#{interfaceUrl},</if>
            <if test="interfaceUrlMarketFlag != null and interfaceUrlMarketFlag != ''">#{interfaceUrlMarketFlag},</if>
            <if test="interfaceUrlCodeFlag != null and interfaceUrlCodeFlag != ''">#{interfaceUrlCodeFlag},</if>
            <if test="htmlUrl != null">#{htmlUrl},</if>
            <if test="htmlUrlMarketFlag != null">#{htmlUrlMarketFlag},</if>
            <if test="htmlUrlCodeFlag != null">#{htmlUrlCodeFlag},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateInvInterface" parameterType="InvInterface">
        update inv_interface
        <trim prefix="SET" suffixOverrides=",">
            <if test="interfaceCode != null and interfaceCode != ''">interface_code = #{interfaceCode},</if>
            <if test="interfaceName != null and interfaceName != ''">interface_name = #{interfaceName},</if>
            <if test="interfaceType != null and interfaceType != ''">interface_type = #{interfaceType},</if>
            <if test="interfaceUrl != null and interfaceUrl != ''">interface_url = #{interfaceUrl},</if>
            <if test="interfaceUrlMarketFlag != null and interfaceUrlMarketFlag != ''">interface_url_market_flag = #{interfaceUrlMarketFlag},</if>
            <if test="interfaceUrlCodeFlag != null and interfaceUrlCodeFlag != ''">interface_url_code_flag = #{interfaceUrlCodeFlag},</if>
            <if test="htmlUrl != null">html_url = #{htmlUrl},</if>
            <if test="htmlUrlMarketFlag != null">html_url_market_flag = #{htmlUrlMarketFlag},</if>
            <if test="htmlUrlCodeFlag != null">html_url_code_flag = #{htmlUrlCodeFlag},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteInvInterfaceById" parameterType="Long">
        delete from inv_interface where id = #{id}
    </delete>

    <delete id="deleteInvInterfaceByIds" parameterType="String">
        delete from inv_interface where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>