<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.investment.mapper.InvInterfaceMapper">
    
    <resultMap type="InvInterface" id="InvInterfaceResult">
        <result property="id"    column="id"    />
        <result property="code"    column="code"    />
        <result property="name"    column="name"    />
        <result property="type"    column="type"    />
        <result property="containMarket"    column="contain_market"    />
        <result property="bgqUrl"    column="bgq_url"    />
        <result property="ndUrl"    column="nd_url"    />
        <result property="jdUrl"    column="jd_url"    />
        <result property="htmlUrl"    column="html_url"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectInvInterfaceVo">
        select id, code, name, type, contain_market, bgq_url, nd_url, jd_url, html_url, remark from inv_interface
    </sql>

    <select id="selectInvInterfaceList" parameterType="InvInterface" resultMap="InvInterfaceResult">
        <include refid="selectInvInterfaceVo"/>
        <where>  
            <if test="code != null  and code != ''"> and code = #{code}</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="type != null  and type != ''"> and type = #{type}</if>
            <if test="containMarket != null  and containMarket != ''"> and contain_market = #{containMarket}</if>
            <if test="bgqUrl != null  and bgqUrl != ''"> and bgq_url = #{bgqUrl}</if>
            <if test="ndUrl != null  and ndUrl != ''"> and nd_url = #{ndUrl}</if>
            <if test="jdUrl != null  and jdUrl != ''"> and jd_url = #{jdUrl}</if>
            <if test="htmlUrl != null  and htmlUrl != ''"> and html_url = #{htmlUrl}</if>
        </where>
    </select>
    
    <select id="selectInvInterfaceById" parameterType="Long" resultMap="InvInterfaceResult">
        <include refid="selectInvInterfaceVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertInvInterface" parameterType="InvInterface" useGeneratedKeys="true" keyProperty="id">
        insert into inv_interface
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="code != null and code != ''">code,</if>
            <if test="name != null and name != ''">name,</if>
            <if test="type != null and type != ''">type,</if>
            <if test="containMarket != null and containMarket != ''">contain_market,</if>
            <if test="bgqUrl != null and bgqUrl != ''">bgq_url,</if>
            <if test="ndUrl != null and ndUrl != ''">nd_url,</if>
            <if test="jdUrl != null and jdUrl != ''">jd_url,</if>
            <if test="htmlUrl != null and htmlUrl != ''">html_url,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="code != null and code != ''">#{code},</if>
            <if test="name != null and name != ''">#{name},</if>
            <if test="type != null and type != ''">#{type},</if>
            <if test="containMarket != null and containMarket != ''">#{containMarket},</if>
            <if test="bgqUrl != null and bgqUrl != ''">#{bgqUrl},</if>
            <if test="ndUrl != null and ndUrl != ''">#{ndUrl},</if>
            <if test="jdUrl != null and jdUrl != ''">#{jdUrl},</if>
            <if test="htmlUrl != null and htmlUrl != ''">#{htmlUrl},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateInvInterface" parameterType="InvInterface">
        update inv_interface
        <trim prefix="SET" suffixOverrides=",">
            <if test="code != null and code != ''">code = #{code},</if>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="type != null and type != ''">type = #{type},</if>
            <if test="containMarket != null and containMarket != ''">contain_market = #{containMarket},</if>
            <if test="bgqUrl != null and bgqUrl != ''">bgq_url = #{bgqUrl},</if>
            <if test="ndUrl != null and ndUrl != ''">nd_url = #{ndUrl},</if>
            <if test="jdUrl != null and jdUrl != ''">jd_url = #{jdUrl},</if>
            <if test="htmlUrl != null and htmlUrl != ''">html_url = #{htmlUrl},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteInvInterfaceById" parameterType="Long">
        delete from inv_interface where id = #{id}
    </delete>

    <delete id="deleteInvInterfaceByIds" parameterType="String">
        delete from inv_interface where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>