<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.investment.mapper.InvLhbStockMapper">
    
    <resultMap type="InvLhbStock" id="InvLhbStockResult">
        <result property="id"    column="id"    />
        <result property="securityCode"    column="security_code"    />
        <result property="tradeDate"    column="trade_date"    />
        <result property="lhbDataType"    column="lhb_data_type"    />
        <result property="explanation"    column="explanation"    />
        <result property="operatedeptCode"    column="operatedept_code"    />
        <result property="operatedeptName"    column="operatedept_name"    />
        <result property="buy"    column="buy"    />
        <result property="totalBuyrio"    column="total_buyrio"    />
        <result property="sell"    column="sell"    />
        <result property="totalSellrio"    column="total_sellrio"    />
        <result property="net"    column="net"    />
        <result property="totalBuy"    column="total_buy"    />
        <result property="totalSell"    column="total_sell"    />
        <result property="totalBuyriotop"    column="total_buyriotop"    />
        <result property="totalNet"    column="total_net"    />
    </resultMap>

    <sql id="selectInvLhbStockVo">
        select id, security_code, trade_date, lhb_data_type, explanation, operatedept_code, operatedept_name, buy, total_buyrio, sell, total_sellrio, net, total_buy, total_sell, total_buyriotop, total_net from inv_lhb_stock
    </sql>

    <select id="selectInvLhbStockList" parameterType="InvLhbStock" resultMap="InvLhbStockResult">
        <include refid="selectInvLhbStockVo"/>
        <where>  
            <if test="securityCode != null  and securityCode != ''"> and security_code = #{securityCode}</if>
            <if test="tradeDate != null "> and trade_date = #{tradeDate}</if>
            <if test="lhbDataType != null  and lhbDataType != ''"> and lhb_data_type = #{lhbDataType}</if>
            <if test="explanation != null  and explanation != ''"> and explanation like concat('%', #{explanation}, '%')</if>
            <if test="operatedeptCode != null  and operatedeptCode != ''"> and operatedept_code = #{operatedeptCode}</if>
            <if test="operatedeptName != null  and operatedeptName != ''"> and operatedept_name like concat('%', #{operatedeptName}, '%')</if>
            <if test="buy != null "> and buy = #{buy}</if>
            <if test="totalBuyrio != null "> and total_buyrio = #{totalBuyrio}</if>
            <if test="sell != null "> and sell = #{sell}</if>
            <if test="totalSellrio != null "> and total_sellrio = #{totalSellrio}</if>
            <if test="net != null "> and net = #{net}</if>
            <if test="totalBuy != null "> and total_buy = #{totalBuy}</if>
            <if test="totalSell != null "> and total_sell = #{totalSell}</if>
            <if test="totalBuyriotop != null "> and total_buyriotop = #{totalBuyriotop}</if>
            <if test="totalNet != null "> and total_net = #{totalNet}</if>
        </where>
        order by trade_date desc
    </select>
    
    <select id="selectInvLhbStockById" parameterType="Integer" resultMap="InvLhbStockResult">
        <include refid="selectInvLhbStockVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertInvLhbStock" parameterType="InvLhbStock" useGeneratedKeys="true" keyProperty="id">
        insert into inv_lhb_stock
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="securityCode != null and securityCode != ''">security_code,</if>
            <if test="tradeDate != null">trade_date,</if>
            <if test="lhbDataType != null and lhbDataType != ''">lhb_data_type,</if>
            <if test="explanation != null and explanation != ''">explanation,</if>
            <if test="operatedeptCode != null and operatedeptCode != ''">operatedept_code,</if>
            <if test="operatedeptName != null and operatedeptName != ''">operatedept_name,</if>
            <if test="buy != null">buy,</if>
            <if test="totalBuyrio != null">total_buyrio,</if>
            <if test="sell != null">sell,</if>
            <if test="totalSellrio != null">total_sellrio,</if>
            <if test="net != null">net,</if>
            <if test="totalBuy != null">total_buy,</if>
            <if test="totalSell != null">total_sell,</if>
            <if test="totalBuyriotop != null">total_buyriotop,</if>
            <if test="totalNet != null">total_net,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="securityCode != null and securityCode != ''">#{securityCode},</if>
            <if test="tradeDate != null">#{tradeDate},</if>
            <if test="lhbDataType != null and lhbDataType != ''">#{lhbDataType},</if>
            <if test="explanation != null and explanation != ''">#{explanation},</if>
            <if test="operatedeptCode != null and operatedeptCode != ''">#{operatedeptCode},</if>
            <if test="operatedeptName != null and operatedeptName != ''">#{operatedeptName},</if>
            <if test="buy != null">#{buy},</if>
            <if test="totalBuyrio != null">#{totalBuyrio},</if>
            <if test="sell != null">#{sell},</if>
            <if test="totalSellrio != null">#{totalSellrio},</if>
            <if test="net != null">#{net},</if>
            <if test="totalBuy != null">#{totalBuy},</if>
            <if test="totalSell != null">#{totalSell},</if>
            <if test="totalBuyriotop != null">#{totalBuyriotop},</if>
            <if test="totalNet != null">#{totalNet},</if>
         </trim>
    </insert>

    <update id="updateInvLhbStock" parameterType="InvLhbStock">
        update inv_lhb_stock
        <trim prefix="SET" suffixOverrides=",">
            <if test="securityCode != null and securityCode != ''">security_code = #{securityCode},</if>
            <if test="tradeDate != null">trade_date = #{tradeDate},</if>
            <if test="lhbDataType != null and lhbDataType != ''">lhb_data_type = #{lhbDataType},</if>
            <if test="explanation != null and explanation != ''">explanation = #{explanation},</if>
            <if test="operatedeptCode != null and operatedeptCode != ''">operatedept_code = #{operatedeptCode},</if>
            <if test="operatedeptName != null and operatedeptName != ''">operatedept_name = #{operatedeptName},</if>
            <if test="buy != null">buy = #{buy},</if>
            <if test="totalBuyrio != null">total_buyrio = #{totalBuyrio},</if>
            <if test="sell != null">sell = #{sell},</if>
            <if test="totalSellrio != null">total_sellrio = #{totalSellrio},</if>
            <if test="net != null">net = #{net},</if>
            <if test="totalBuy != null">total_buy = #{totalBuy},</if>
            <if test="totalSell != null">total_sell = #{totalSell},</if>
            <if test="totalBuyriotop != null">total_buyriotop = #{totalBuyriotop},</if>
            <if test="totalNet != null">total_net = #{totalNet},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteInvLhbStockById" parameterType="Integer">
        delete from inv_lhb_stock where id = #{id}
    </delete>

    <delete id="deleteInvLhbStockByIds" parameterType="String">
        delete from inv_lhb_stock where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>