<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.investment.mapper.InvStockMapper">
    
    <resultMap type="InvStock" id="InvStockResult">
        <result property="id"    column="id"    />
        <result property="code"    column="code"    />
        <result property="name"    column="name"    />
        <result property="market"    column="market"    />
        <result property="stockType"    column="stock_type"    />
        <result property="orgCode"    column="org_code"    />
        <result property="orgType"    column="org_type"    />
        <result property="securityTypeCode"    column="security_type_code"    />
    </resultMap>

    <sql id="selectInvStockVo">
        select id, code, name, market, stock_type, org_code, org_type, security_type_code from inv_stock
    </sql>

    <select id="selectInvStockList" parameterType="InvStock" resultMap="InvStockResult">
        <include refid="selectInvStockVo"/>
        <where>  
            <if test="code != null  and code != ''"> and code = #{code}</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="market != null  and market != ''"> and market = #{market}</if>
            <if test="stockType != null  and stockType != ''"> and stock_type = #{stockType}</if>
            <if test="orgCode != null  and orgCode != ''"> and org_code = #{orgCode}</if>
            <if test="orgType != null  and orgType != ''"> and org_type = #{orgType}</if>
            <if test="securityTypeCode != null  and securityTypeCode != ''"> and security_type_code = #{securityTypeCode}</if>
        </where>
    </select>
    
    <select id="selectInvStockById" parameterType="Integer" resultMap="InvStockResult">
        <include refid="selectInvStockVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertInvStock" parameterType="InvStock" useGeneratedKeys="true" keyProperty="id">
        insert into inv_stock
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="code != null and code != ''">code,</if>
            <if test="name != null and name != ''">name,</if>
            <if test="market != null">market,</if>
            <if test="stockType != null">stock_type,</if>
            <if test="orgCode != null">org_code,</if>
            <if test="orgType != null">org_type,</if>
            <if test="securityTypeCode != null">security_type_code,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="code != null and code != ''">#{code},</if>
            <if test="name != null and name != ''">#{name},</if>
            <if test="market != null">#{market},</if>
            <if test="stockType != null">#{stockType},</if>
            <if test="orgCode != null">#{orgCode},</if>
            <if test="orgType != null">#{orgType},</if>
            <if test="securityTypeCode != null">#{securityTypeCode},</if>
         </trim>
    </insert>

    <update id="updateInvStock" parameterType="InvStock">
        update inv_stock
        <trim prefix="SET" suffixOverrides=",">
            <if test="code != null and code != ''">code = #{code},</if>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="market != null">market = #{market},</if>
            <if test="stockType != null">stock_type = #{stockType},</if>
            <if test="orgCode != null">org_code = #{orgCode},</if>
            <if test="orgType != null">org_type = #{orgType},</if>
            <if test="securityTypeCode != null">security_type_code = #{securityTypeCode},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteInvStockById" parameterType="Integer">
        delete from inv_stock where id = #{id}
    </delete>

    <delete id="deleteInvStockByIds" parameterType="String">
        delete from inv_stock where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="selectInvStockVoNoDelisting" parameterType="InvStock" resultMap="InvStockResult">
        <include refid="selectInvStockVo"/>
        where name not like '%退%'
    </select>

</mapper>