<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增个股龙虎榜统计')" />
    <th:block th:include="include :: datetimepicker-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-invLhbStockMrtj-add">
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">股票代码：</label>
                <div class="col-sm-8">
                    <input name="securityCode" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">上榜日期：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <input name="tradeDate" class="form-control" placeholder="yyyy-MM-dd" type="text" required>
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">营业部买入合计：</label>
                <div class="col-sm-8">
                    <input name="yybBuyAmt" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">营业部卖出合计：</label>
                <div class="col-sm-8">
                    <input name="yybSellAmt" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">营业部买卖净额：</label>
                <div class="col-sm-8">
                    <input name="yybNet" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">买入机构数：</label>
                <div class="col-sm-8">
                    <input name="jgBuyCount" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">卖出机构数：</label>
                <div class="col-sm-8">
                    <input name="jgSellCount" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">机构买入总额：</label>
                <div class="col-sm-8">
                    <input name="jgBuyAmt" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">机构卖出总额：</label>
                <div class="col-sm-8">
                    <input name="jgSellAmt" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">机构买卖净额：</label>
                <div class="col-sm-8">
                    <input name="jgNet" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">后1日涨跌幅：</label>
                <div class="col-sm-8">
                    <input name="d1CloseAdjchrate" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">后2日涨跌幅：</label>
                <div class="col-sm-8">
                    <input name="d2CloseAdjchrate" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">后3日涨跌幅：</label>
                <div class="col-sm-8">
                    <input name="d3CloseAdjchrate" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">后5日涨跌幅：</label>
                <div class="col-sm-8">
                    <input name="d5CloseAdjchrate" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">后10日涨跌幅：</label>
                <div class="col-sm-8">
                    <input name="d10CloseAdjchrate" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">后20日涨跌幅：</label>
                <div class="col-sm-8">
                    <input name="d20CloseAdjchrate" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">后30日涨跌幅：</label>
                <div class="col-sm-8">
                    <input name="d30CloseAdjchrate" class="form-control" type="text">
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <script th:inline="javascript">
        var prefix = ctx + "investment/invLhbStockMrtj"
        $("#form-invLhbStockMrtj-add").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/add", $('#form-invLhbStockMrtj-add').serialize());
            }
        }

        $("input[name='tradeDate']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });
    </script>
</body>
</html>