<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('个股龙虎榜统计列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>股票代码：</label>
                                <input type="text" name="securityCode"/>
                            </li>
                            <li>
                                <label>上榜日期：</label>
                                <input type="text" class="time-input" placeholder="请选择上榜日期" name="tradeDate"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="investment:invLhbStockMrtj:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="investment:invLhbStockMrtj:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="investment:invLhbStockMrtj:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="investment:invLhbStockMrtj:export">
                    <i class="fa fa-download"></i> 导出
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('investment:invLhbStockMrtj:edit')}]];
        var removeFlag = [[${@permission.hasPermi('investment:invLhbStockMrtj:remove')}]];
        var idDatas = [[${@dict.getType('${column.dictType}')}]];
        var prefix = ctx + "investment/invLhbStockMrtj";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "个股龙虎榜统计",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'id',
                    title: 'id',
                    visible: false
                },
                {
                    field: 'securityCode',
                    title: '股票代码'
                },
                {
                    field: 'tradeDate',
                    title: '上榜日期'
                },
                {
                    field: 'explanation',
                    title: '上榜原因'
                },
                {
                    field: 'yybBuyAmt',
                    title: '营业部买入合计'
                },
                {
                    field: 'yybSellAmt',
                    title: '营业部卖出合计'
                },
                {
                    field: 'yybNet',
                    title: '营业部买卖净额'
                },
                {
                    field: 'jgBuyCount',
                    title: '买入机构数'
                },
                {
                    field: 'jgSellCount',
                    title: '卖出机构数'
                },
                {
                    field: 'jgBuyAmt',
                    title: '机构买入总额'
                },
                {
                    field: 'jgSellAmt',
                    title: '机构卖出总额'
                },
                {
                    field: 'jgNet',
                    title: '机构买卖净额'
                },
                {
                    field: 'totalBuy',
                    title: '买入合计'
                },
                {
                    field: 'totalBuyriotop',
                    title: '买入占总成交比例'
                },
                {
                    field: 'totalSell',
                    title: '卖出合计'
                },
                {
                    field: 'totalSellriotop',
                    title: '卖出占总成交比例'
                },
                {
                    field: 'totalNet',
                    title: '买卖净额'
                },
                {
                    field: 'd1CloseAdjchrate',
                    title: '后1日涨跌幅'
                },
                {
                    field: 'd2CloseAdjchrate',
                    title: '后2日涨跌幅'
                },
                {
                    field: 'd3CloseAdjchrate',
                    title: '后3日涨跌幅'
                },
                {
                    field: 'd5CloseAdjchrate',
                    title: '后5日涨跌幅'
                },
                {
                    field: 'd10CloseAdjchrate',
                    title: '后10日涨跌幅'
                },
                {
                    field: 'd20CloseAdjchrate',
                    title: '后20日涨跌幅'
                },
                {
                    field: 'd30CloseAdjchrate',
                    title: '后30日涨跌幅'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>